@using System.Collections
@using System.Xml

@{
    ViewData["Title"] = "Create Evening Class Student";

    var xmlReader = XmlReader.Create("Views/EveningClass/EveningClassStudent.xml");

    var taekwondoBelts = new ArrayList();
    taekwondoBelts.Add("None");
    taekwondoBelts.Add("White Belt");
    taekwondoBelts.Add("Yellow Belt");
    taekwondoBelts.Add("Orange Belt");
    taekwondoBelts.Add("Green Belt");
    taekwondoBelts.Add("Blue-Tip Belt");
    taekwondoBelts.Add("Blue Belt");
    taekwondoBelts.Add("Purple Belt");
    taekwondoBelts.Add("Brown Belt");
    taekwondoBelts.Add("Red Belt");
    taekwondoBelts.Add("Black-Tip Belt");
    taekwondoBelts.Add("Tiger Belt");
    taekwondoBelts.Add("Dragon Belt");
    taekwondoBelts.Add("Temporary Black Belt");
    taekwondoBelts.Add("First Dan");
    taekwondoBelts.Add("Second Dan");
    taekwondoBelts.Add("Third Dan");
    taekwondoBelts.Add("Fourth Dan");
    taekwondoBelts.Add("Fifth Dan");
    taekwondoBelts.Add("Sixth Dan");

    var judoBelts = new ArrayList();
    judoBelts.Add("None");
    judoBelts.Add("White Belt");
    judoBelts.Add("Yellow Belt");
    judoBelts.Add("Orange Belt");
    judoBelts.Add("Green Belt");
    judoBelts.Add("Blue Belt");
    judoBelts.Add("Purple Belt");
    judoBelts.Add("Brown Belt");
    judoBelts.Add("Red Belt");
    judoBelts.Add("Temporary Black Belt");
    judoBelts.Add("First Dan");
    judoBelts.Add("Second Dan");
    judoBelts.Add("Third Dan");
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

<h1>Create Evening Class Student</h1>

<form method="POST">
    <br/>
    <h3>Student Information</h3>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="FirstName">
                </div>
                <div class="col-6 field-right">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="LastName">
                </div>
            </div>
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="courseType">Course Type</label>
                    <input type="text" class="form-control" id="courseType" aria-describedby="courseType" name="CourseType">
                </div>
                <div class="col-6 field-right">
                    <label for="dateOfExpiration">Date of Expiration</label>
                    <input type="text" class="form-control" id="dateOfExpiration" aria-describedby="dateOfExpiration" name="MemberExpiration">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="date-of-birth">Date of Birth</label>
                    <input id="date-of-birth" type="text" class="form-control" aria-describedby="birthday" name="Birthday"/>
                </div>
                <div class="col-6 field-right">
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" aria-describedby="email" name="Email">
                </div>
            </div>
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="taekwondoBeltRank">Taekwondo Belt Rank</label>
                    <select class="form-control" id="taekwondoBeltRank" name="TaekwondoBeltRank">
                        @{
                            foreach (var belt in taekwondoBelts)
                            {
                                <option value="@belt">@belt</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-6 field-right">
                    <label for="judoBeltRank">Judo Belt Rank</label>
                    <select class="form-control" id="judoBeltRank" name="JudoBeltRank">
                        @{
                            foreach (var belt in judoBelts)
                            {
                                <option value="@belt">@belt</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <div class="col-12">
                    <label for="address">Address</label>
                    <input type="text" id="address" class="form-control" aria-describedby="address" name="Address">
                </div>
            </div>
            <div class="col-6">
                <div class="col-4 field-right">
                    <label for="currentStudent">Active</label>
                    @{
                        <select class="form-control" id="currentStudent" name="CurrentStudent">
                            <option value="True" selected>True</option>
                            <option value="False">False</option>
                        </select>
                    }
                </div>
                <div class="col-8">
                    <label for="status">Status</label>
                    @{
                        <select class="form-control" id="status" name="Status">
                            <option value="Trial Lesson" selected>Trial Lesson</option>
                            <option value="One Year">One Year</option>
                            <option value="Two Years">Two Years</option>
                            <option value="Three Years">Black Belt Club</option>
                            <option value="Masters Club">Masters Club</option>
                            <option value="Other">Other</option>
                        </select>
                    }
                </div>
            </div>
        </div>
        <hr/>

        <h3>Contact Information</h3>
        <br/>


        <h5 style="text-align: center;">Contact One</h5>
        <div class="row">
            <br/>
            <div class="col-4">
                <label for="pickupOne">Name</label>
                <input type="text" id="pickupOne" class="form-control" aria-describedby="pickupOne" name="ContactOne">
            </div>
            <div class="col-4">
                <label for="relationOne">Relation</label>
                <input type="text" id="relationOne" class="form-control" aria-describedby="relationOne" name="RelationOne">
            </div>
            <div class="col-4">
                <label for="cellOne">Phone Number</label>
                <input type="text" id="cellOne" class="form-control" aria-describedby="cellOne" name="PhoneOne">
            </div>
        </div>
        <br/>

        <h5 style="text-align: center;">Contact Two</h5>
        <div class="row">
            <br/>
            <div class="col-4">
                <label for="pickupTwo">Name</label>
                <input type="text" id="pickupTwo" class="form-control" aria-describedby="pickupTwo" name="ContactTwo">
            </div>
            <div class="col-4">
                <label for="relationTwo">Relation</label>
                <input type="text" id="relationTwo" class="form-control" aria-describedby="relationTwo" name="RelationTwo">
            </div>
            <div class="col-4">
                <label for="cellTwo">Phone Number</label>
                <input type="text" id="cellTwo" class="form-control" aria-describedby="cellTwo" name="PhoneTwo">
            </div>
        </div>
        <br/>

        <h5 style="text-align: center;">Contact Three</h5>
        <div class="row">
            <br/>
            <div class="col-4">
                <label for="pickupThree">Name</label>
                <input type="text" id="pickupThree" class="form-control" aria-describedby="pickupThree" name="ContactThree">
            </div>
            <div class="col-4">
                <label for="relationThree">Relation</label>
                <input type="text" id="relationThree" class="form-control" aria-describedby="relationThree" name="RelationThree">
            </div>
            <div class="col-4">
                <label for="cellThree">Phone Number</label>
                <input type="text" id="cellThree" class="form-control" aria-describedby="cellThree" name="PhoneThree">
            </div>
        </div>
    </div>
    <br/>
    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
</form>