@using System.Xml
@using HMAFlex.Controllers
@{
    Layout = "_GeneralLayout";
    ViewData["Title"] = "Evening Class Student Details";
    int id = ViewBag.Message;

    EveningClassStudent student = Util.GetEveningClassStudent(id);
}
<!--
Student Information
Medical Information
Pickup Information
-->
@{
    <h1>EveningClass Student Details - ID: @student.Id (@student.LastName, @student.FirstName)</h1>

    <div class="row" style="text-align: center;">
        <div class="col-3">
            @Html.ActionLink("Edit Student", "EditStudent", "EveningClass", new {Id = id})
        </div>
        <div class="col-3">
            @Html.ActionLink("Print TKD Certificate", "PrintCertificate", "EveningClass", new {Id = id, Type = "Taekwondo - Student"})
        </div>
        <div class="col-3">
            @Html.ActionLink("Print Judo Certificate", "PrintCertificate", "EveningClass", new {Id = id, Type = "Judo - Student"})
        </div>
        <div class="col-3">
            @Html.ActionLink("Delete Student", "DeleteStudent", "EveningClass", new {Id = id})
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">
                            <div class="hma-logo">
                                <img src="~/img/condensedlogo.png" width="100%">
                            </div>
                            <div class="basic-info">
                                <div class="text-xl-center text-uppercase font-weight-bold">
                                    <h2>@student.FirstName @student.LastName</h2></div>
                                <div class="text-lg-center"><b>Student Since:</b> @student.JoinDate</div>
                                <div class="text-lg-center"><b>Course Type:</b> @student.CourseType</div>
                                <div class="text-lg-center"><b>Membership Expiration:</b> @student.MembershipExpiration.ToShortDateString()</div>
                                <div class="text-lg-center"><b>Status:</b> @Util.GetEveningProgramString(student.Status)</div>
                                <div class="text-lg-center"><b>Active?</b> @student.CurrentStudent</div>
                            </div>
                        </div>
                        <div class="col-8" style="border-left: 1px solid #a9aab1; padding-left: 10px;">
                            <div class="text-xl-center text-uppercase font-weight-bold">General Information</div>
                            <div class="text-lg-left"><b>Taekwondo Belt:</b> @Util.GetRankString(student.TaekwondoRank)</div>
                            <div class="text-lg-left"><b>Judo Belt:</b> @Util.GetRankString(student.JudoRank)</div>
                            <div class="text-lg-left"><b>Birthday:</b> @student.Birthday.ToShortDateString</div>
                            <div class="text-lg-left"><b>Email:</b> @student.Email</div>
                            <div class="text-lg-left"><b>Address:</b> @student.Address</div>

                            <br/>

                            <div class="text-xl-center text-uppercase font-weight-bold">Contact Information</div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-lg-center font-weight-bold">Name</div>
                                    <div class="text-lg-center">@student.ContactOne</div>
                                    <div class="text-lg-center">@student.ContactTwo</div>
                                    <div class="text-lg-center">@student.ContactThree</div>
                                </div>
                                <div class="col-4">
                                    <div class="text-lg-center font-weight-bold">Relation</div>
                                    <div class="text-lg-center">@student.RelationOne</div>
                                    <div class="text-lg-center">@student.RelationTwo</div>
                                    <div class="text-lg-center">@student.RelationThree</div>
                                </div>
                                <div class="col-4">
                                    <div class="text-lg-center font-weight-bold">Phone Number</div>
                                    <div class="text-lg-center">@student.PhoneOne</div>
                                    <div class="text-lg-center">@student.PhoneTwo</div>
                                    <div class="text-lg-center">@student.PhoneThree</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}