@using System.Collections
@using System.Xml
@using HMAFlex.Controllers

@{
    ViewData["Title"] = "Edit Evening Class Student";
    int id = ViewBag.Message;

    EveningClassStudent student = Util.GetEveningClassStudent(id);

    ArrayList taekwondoBelts = new ArrayList();
    taekwondoBelts.Add("None");
    taekwondoBelts.Add("White Belt");
    taekwondoBelts.Add("Yellow Belt");
    taekwondoBelts.Add("Orange Belt");
    taekwondoBelts.Add("Green Belt");
    taekwondoBelts.Add("Blue-Tip Belt");
    taekwondoBelts.Add("Blue Belt");
    taekwondoBelts.Add("Purple Belt");
    taekwondoBelts.Add("Brown Belt");
    taekwondoBelts.Add("Red Belt");
    taekwondoBelts.Add("Black-Tip Belt");
    taekwondoBelts.Add("Tiger Belt");
    taekwondoBelts.Add("Dragon Belt");
    taekwondoBelts.Add("Temporary Black Belt");
    taekwondoBelts.Add("First Dan");
    taekwondoBelts.Add("Second Dan");
    taekwondoBelts.Add("Third Dan");
    taekwondoBelts.Add("Fourth Dan");
    taekwondoBelts.Add("Fifth Dan");
    taekwondoBelts.Add("Sixth Dan");

    ArrayList judoBelts = new ArrayList();
    judoBelts.Add("None");
    judoBelts.Add("White Belt");
    judoBelts.Add("Yellow Belt");
    judoBelts.Add("Orange Belt");
    judoBelts.Add("Green Belt");
    judoBelts.Add("Blue Belt");
    judoBelts.Add("Purple Belt");
    judoBelts.Add("Brown Belt");
    judoBelts.Add("Red Belt");
    judoBelts.Add("Temporary Black Belt");
    judoBelts.Add("First Dan");
    judoBelts.Add("Second Dan");
    judoBelts.Add("Third Dan");

    <style>
        .field-left {
            float: left !important;
        }
        .field-right {
            float: right !important;
        }
    </style>
    <h1>Edit Evening Class Student - @student.LastName, @student.FirstName</h1>

    <form method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-2 field-left">
                    <div class="col-6 field-left">
                        <label for="id">ID</label>
                        <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@student.Id" name="Id">
                    </div>
                </div>
            </div>
        </div>
        <h3>Student Information</h3>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <div class="col-6 field-left">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="@student.FirstName" name="FirstName">
                    </div>
                    <div class="col-6 field-right">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="@student.LastName" name="LastName">
                    </div>
                </div>
                <div class="col-6">
                    <h3></h3>
                    <div class="col-6 field-left">
                        <label for="courseType">Course Type</label>
                        <input type="text" class="form-control" id="courseType" aria-describedby="courseType" placeholder="@student.CourseType" name="CourseType">
                    </div>
                    <div class="col-6 field-right">
                        <label for="dateOfExpiration">Date of Expiration</label>
                        <input type="text" class="form-control" id="dateOfExpiration" aria-describedby="dateOfExpiration" placeholder="@student.MembershipExpiration.ToShortDateString()" name="MembershipExpiration">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <div class="col-6 field-left">
                        <label for="date-of-birth">Date of Birth</label>
                        <input id="date-of-birth" type="text" class="form-control" aria-describedby="birthday" placeholder="@student.Birthday.ToShortDateString" name="Birthday"/>
                    </div>
                    <div class="col-6 field-right">
                        <label for="email">Email</label>
                        <input id="email" type="text" class="form-control" aria-describedby="email" placeholder="@student.Email" name="Email">
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6 field-left">
                        <label for="taekwondoBeltRank">Taekwondo Belt Rank</label>
                        <select class="form-control" id="taekwondoBeltRank" name="TaekwondoBeltRank">
                            @{
                                foreach (var belt in taekwondoBelts)
                                {
                                    if ((string) belt == Util.GetRankString(student.TaekwondoRank))
                                    {
                                        <option value="@belt" selected>@belt</option>
                                    }
                                    else
                                    {
                                        <option value="@belt">@belt</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-6 field-right">
                        <label for="judoBeltRank">Judo Belt Rank</label>
                        <select class="form-control" id="judoBeltRank" name="JudoBeltRank">
                            @{
                                foreach (var belt in judoBelts)
                                {
                                    if ((string) belt == Util.GetRankString(student.JudoRank))
                                    {
                                        <option value="@belt" selected>@belt</option>
                                    }
                                    else
                                    {
                                        <option value="@belt">@belt</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <div class="col-12">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" aria-describedby="address" placeholder="@student.Address" name="Address">
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-4 field-right">
                        <label for="currentStudent">Active</label>
                        @{
                            <select class="form-control" id="currentStudent" name="CurrentStudent">
                                @{
                                    if (student.CurrentStudent)
                                    {
                                        <option value="True" selected>True</option>
                                        <option value="False">False</option>
                                    }
                                    else
                                    {
                                        <option value="True">True</option>
                                        <option value="False" selected>False</option>
                                    }
                                }
                            </select>
                        }
                    </div>
                    <div class="col-8">
                        <label for="status">Status</label>
                        @{
                            <select class="form-control" id="status" name="Status">
                                @{
                                    switch (student.Status)
                                    {
                                        case EveningClassProgram.TrialLesson:
                                            <option value="Trial Lesson" selected>Trial Lesson</option>
                                            <option value="One Year">One Year</option>
                                            <option value="Two Years">Two Years</option>
                                            <option value="Three Years">Black Belt Club</option>
                                            <option value="Masters Club">Masters Club</option>
                                            <option value="Other">Other</option>
                                            break;
                                        case EveningClassProgram.OneYear:
                                            <option value="Trial Lesson">Trial Lesson</option>
                                            <option value="One Year" selected>One Year</option>
                                            <option value="Two Years">Two Years</option>
                                            <option value="Three Years">Black Belt Club</option>
                                            <option value="Masters Club">Masters Club</option>
                                            <option value="Other">Other</option>
                                            break;
                                        case EveningClassProgram.TwoYears:
                                            <option value="Trial Lesson">Trial Lesson</option>
                                            <option value="One Year">One Year</option>
                                            <option value="Two Years" selected>Two Years</option>
                                            <option value="Three Years">Black Belt Club</option>
                                            <option value="Masters Club">Masters Club</option>
                                            <option value="Other">Other</option>
                                            break;
                                        case EveningClassProgram.ThreeYears:
                                            <option value="Trial Lesson">Trial Lesson</option>
                                            <option value="One Year">One Year</option>
                                            <option value="Two Years">Two Years</option>
                                            <option value="Three Years" selected>Black Belt Club</option>
                                            <option value="Masters Club">Masters Club</option>
                                            <option value="Other">Other</option>
                                            break;
                                        case EveningClassProgram.MasterClub:
                                             <option value="Trial Lesson">Trial Lesson</option>
                                             <option value="One Year">One Year</option>
                                             <option value="Two Years">Two Years</option>
                                             <option value="Three Years">Black Belt Club</option>
                                             <option value="Masters Club" selected>Masters Club</option>
                                             <option value="Other">Other</option>
                                            break;
                                        case EveningClassProgram.Other:
                                            <option value="Trial Lesson">Trial Lesson</option>
                                            <option value="One Year">One Year</option>
                                            <option value="Two Years">Two Years</option>
                                            <option value="Three Years">Black Belt Club</option>
                                            <option value="Masters Club">Masters Club</option>
                                            <option value="Other" selected>Other</option>
                                            break;
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>
            </div>
            <hr/>

            <h3>Contact Information</h3>
            <br/>


            <h5 style="text-align: center;">Contact One</h5>
            <div class="row">
                <br/>
                <div class="col-4">
                    <label for="pickupOne">Name</label>
                    <input type="text" id="pickupOne" class="form-control" aria-describedby="pickupOne" placeholder="@student.ContactOne" name="ContactOne">
                </div>
                <div class="col-4">
                    <label for="relationOne">Relation</label>
                    <input type="text" id="relationOne" class="form-control" aria-describedby="relationOne" placeholder="@student.RelationOne" name="RelationOne">
                </div>
                <div class="col-4">
                    <label for="cellOne">Phone Number</label>
                    <input type="text" id="cellOne" class="form-control" aria-describedby="cellOne" placeholder="@student.PhoneOne" name="PhoneOne">
                </div>
            </div>
            <br/>

            <h5 style="text-align: center;">Contact Two</h5>
            <div class="row">
                <br/>
                <div class="col-4">
                    <label for="pickupTwo">Name</label>
                    <input type="text" id="pickupTwo" class="form-control" aria-describedby="pickupTwo" placeholder="@student.ContactTwo" name="ContactTwo">
                </div>
                <div class="col-4">
                    <label for="relationTwo">Relation</label>
                    <input type="text" id="relationTwo" class="form-control" aria-describedby="relationTwo" placeholder="@student.RelationTwo" name="RelationTwo">
                </div>
                <div class="col-4">
                    <label for="cellTwo">Phone Number</label>
                    <input type="text" id="cellTwo" class="form-control" aria-describedby="cellTwo" placeholder="@student.PhoneTwo" name="PhoneTwo">
                </div>
            </div>
            <br/>

            <h5 style="text-align: center;">Contact Three</h5>
            <div class="row">
                <br/>
                <div class="col-4">
                    <label for="pickupThree">Name</label>
                    <input type="text" id="pickupThree" class="form-control" aria-describedby="pickupThree" placeholder="@student.ContactThree" name="ContactThree">
                </div>
                <div class="col-4">
                    <label for="relationThree">Relation</label>
                    <input type="text" id="relationThree" class="form-control" aria-describedby="relationThree" placeholder="@student.RelationThree" name="RelationThree">
                </div>
                <div class="col-4">
                    <label for="cellThree">CellPhone</label>
                    <input type="text" id="cellThree" class="form-control" aria-describedby="cellThree" placeholder="@student.PhoneThree" name="PhoneThree">
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
    </form>
}