@using System.Collections
@using System.Xml
@{
    Layout = "_GeneralLayout";

    var sortedValues = Program.EveningClassStudents.Values.OrderBy(student => student.MembershipExpiration);
}

<h1>Membership Expirations</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Evening Class Expirations</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CourseType</th>
                    <th>Active</th>
                    <th>Expiration Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (EveningClassStudent student in sortedValues)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.FirstName @student.LastName</td>
                            <td>@student.CourseType</td>
                            <td>@student.CurrentStudent</td>
                            <td>@student.MembershipExpiration.ToShortDateString()</td>
                            <td>
                                @Html.ActionLink("Edit", "EditStudent", "EveningClass", new {Id = student.Id}) |
                                @Html.ActionLink("Details", "DetailStudent", "EveningClass", new {Id = student.Id}) |
                                @Html.ActionLink("Delete", "DeleteStudent", "EveningClass", new {Id = student.Id})</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>