@using System.Xml
@using HMAFlex.Controllers
@{
    ViewData["Title"] = "Evening Class Members";
}
<h1>Evening Class Members</h1>
<p>
  @Html.ActionLink("Create New", "CreateStudent", "EveningClass")
</p>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Evening Class Students</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Taekwondo Belt Rank</th>
                      <th>Judo Belt Rank</th>
                      <th>Status</th>
                      <th>Course Type</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  @{
                    foreach (var (key, student) in Program.EveningClassStudents)
                    {
                      if (student.Status != EveningClassProgram.TrialLesson)
                      {
                        <tr>
                          <td>@student.Id</td>
                          <td>@student.FirstName @student.LastName</td>
                          <td>@Util.GetRankString(student.TaekwondoRank)</td>
                          <td>@Util.GetRankString(student.JudoRank)</td>
                          <td>@Util.GetEveningProgramString(student.Status)</td>
                          <td>@student.CourseType</td>
                          <td>
                            @Html.ActionLink("Edit", "EditStudent", "EveningClass", new {Id = student.Id}) |
                            @Html.ActionLink("Details", "DetailStudent", "EveningClass", new {Id = student.Id}) |
                            @Html.ActionLink("Delete", "DeleteStudent", "EveningClass", new {Id = student.Id})<br/>
                            @Html.ActionLink("Print TKD Cert.", "PrintCertificate", "EveningClass", new {Id = student.Id, Type = "Taekwondo - Student"}) |
                            @Html.ActionLink("Print Judo Cert.", "PrintCertificate", "EveningClass", new {Id = student.Id, Type = "Judo - Student"})</td>
                        </tr>
                      }
                    }
                  }
                  </tbody>
                </table>
              </div>
            </div>
          </div>