@using System.Collections
@using System.Xml
@using HMAFlex.Controllers

@{
    ViewData["Title"] = "Create AMP Staff";
    
    ArrayList taekwondoBelts = new ArrayList();
    taekwondoBelts.Add("None");
    taekwondoBelts.Add("White Belt");
    taekwondoBelts.Add("Yellow Belt");
    taekwondoBelts.Add("Orange Belt");
    taekwondoBelts.Add("Green Belt");
    taekwondoBelts.Add("Blue-Tip Belt");
    taekwondoBelts.Add("Blue Belt");
    taekwondoBelts.Add("Purple Belt");
    taekwondoBelts.Add("Brown Belt");
    taekwondoBelts.Add("Red Belt");
    taekwondoBelts.Add("Black-Tip Belt");
    taekwondoBelts.Add("Tiger Belt");
    taekwondoBelts.Add("Dragon Belt");
    taekwondoBelts.Add("Temporary Black Belt");
    taekwondoBelts.Add("First Dan");
    taekwondoBelts.Add("Second Dan");
    taekwondoBelts.Add("Third Dan");
    taekwondoBelts.Add("Fourth Dan");
    taekwondoBelts.Add("Fifth Dan");
    taekwondoBelts.Add("Sixth Dan");

    ArrayList judoBelts = new ArrayList();
    judoBelts.Add("None");
    judoBelts.Add("White Belt");
    judoBelts.Add("Yellow Belt");
    judoBelts.Add("Orange Belt");
    judoBelts.Add("Green Belt");
    judoBelts.Add("Blue Belt");
    judoBelts.Add("Purple Belt");
    judoBelts.Add("Brown Belt");
    judoBelts.Add("Red Belt");
    judoBelts.Add("Temporary Black Belt");
    judoBelts.Add("First Dan");
    judoBelts.Add("Second Dan");
    judoBelts.Add("Third Dan");
    <style>
                        .field-left {
                        float: left !important;
                        }
                        .field-right {
                        float: right !important;
                        }
                        .form-control {
                            text-align: center !important;
                        }
    </style>

    <h1>Create AMP Staff Member</h1>

    <form method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <h3>Staff Information</h3>
                    <div class="col-6 field-left">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="FirstName">
                    </div>
                    <div class="col-6 field-right">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="LastName">
                    </div>
                </div>
                <div class="col-6">
                    <h3>Class Days</h3>
                    <label for="monday">Monday?</label>
                    <select class="form-control" id="monday" name="Monday">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <label for="birthday">Birthday</label>
                    <input type="text" class="form-control" id="birthday" aria-describedby="birthday" name="Birthday">
                </div>
                <div class="col-6">
                    <label for="tuesday">Tuesday?</label>
                    <select class="form-control" id="tuesday" name="Tuesday">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" name="PhoneNumber">
                </div>
                <div class="col-6">
                    <label for="wednesday">Wednesday?</label>
                    <select class="form-control" id="wednesday" name="Wednesday">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="email" name="Email">
                </div>
                <div class="col-6">
                    <label for="thursday">Thursday?</label>
                    <select class="form-control" id="thursday" name="Thursday">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <label for="taekwondoBeltRank">Taekwondo Belt Rank</label>
                    <select class="form-control" id="taekwondoBeltRank" name="TaekwondoBeltRank">
                        @{
                            foreach (var belt in taekwondoBelts)
                            {
                                if ((string) belt == "None")
                                {
                                    <option value="@belt" selected>@belt</option>
                                }
                                else
                                {
                                    <option value="@belt">@belt</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-6">
                    <label for="friday">Friday?</label>
                    <select class="form-control" id="friday" name="Friday">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
    </form>
}