@using System.Xml
@using HMAFlex.Controllers
@{
    Layout = "_GeneralLayout";
    ViewData["Title"] = "AMP Student Details";
    int id = ViewBag.Message;

    AMPStudent student = Util.GetAMPStudent(id);
}
<!--
Student Information
Medical Information
Pickup Information
-->
@{
    <h1>AMP Student Details - ID: @student.Id (@student.LastName, @student.FirstName)</h1>

    <div class="row" style="text-align: center;">
        <div class="col-3">
            @Html.ActionLink("Edit Student", "EditStudent", "AMP", new {Id = id})
        </div>
        <div class="col-3">
            @Html.ActionLink("Print TKD Certificate", "PrintCertificate", "AMP", new {Id = id, Type = "Taekwondo - Student"})
        </div>
        <div class="col-3">
            @Html.ActionLink("Print Judo Certificate", "PrintCertificate", "AMP", new {Id = id, Type = "Judo - Student"})
        </div>
        <div class="col-3">
            @Html.ActionLink("Delete Student", "DeleteStudent", "AMP", new {Id = id})
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">
                            <div class="hma-logo">
                                <img src="~/img/condensedlogo.png" width="100%">
                            </div>
                            <div class="basic-info">
                                <div class="text-xl-center text-uppercase font-weight-bold">
                                    <h2>@student.FirstName @student.LastName</h2></div>
                                <div class="text-lg-center"><b>Student Since:</b> @student.JoinDate.ToShortDateString()</div>
                                <div class="text-lg-center"><b>Course Type:</b> @student.CourseType</div>
                                <div class="text-lg-center"><b>Membership Expiration:</b> @student.MembershipExpiration/div>
                                    <div class="text-lg-center"><b>Active?</b> @student.CurrentStudent</div>
                                </div>
                            </div>
                            <div class="col-8" style="border-left: 1px solid #a9aab1; padding-left: 10px;">
                                <div class="text-xl-center text-uppercase font-weight-bold">General Information</div>
                                <div class="text-lg-left"><b>School:</b> @student.School</div>
                                <div class="text-lg-left"><b>Birthday:</b> @student.Birthday.ToShortDateString()</div>
                                <div class="text-lg-left"><b>Address:</b> @student.Address</div>
                                <div class="text-lg-left"><b>Taekwondo Belt:</b> @Util.GetRankString(student.TaekwondoRank)</div>
                                <div class="text-lg-left"><b>Judo Belt:</b> @Util.GetRankString(student.JudoRank)</div>

                                <br/>

                                <div class="text-xl-center text-uppercase font-weight-bold">Medical Information</div>
                                <div class="text-lg-left"><b>Preferred Physician:</b> @student.PhysicianName</div>
                                <div class="text-lg-left"><b>Physician Number:</b> @student.PhysicianNumber <b>Ext:</b> @student.PhysicianExt</div>
                                <div class="text-lg-left"><b>Preferred Hospital:</b> @student.HospitalPref</div>
                                <div class="text-lg-left"><b>Hospital Number:</b> @student.HospitalPhone <b>Ext:</b> @student.HospitalExt</div>
                                <div class="text-lg-left"><b>Condition(s):</b> @student.HealthConditions</div>
                                <div class="text-lg-left"><b>Allergies:</b> @student.Allergies</div>
                                <div class="text-lg-left"><b>Medication:</b> @student.Medication</div>

                                <br/>

                                <div class="text-xl-center text-uppercase font-weight-bold">Pickup Information</div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="text-lg-center font-weight-bold">Name</div>
                                        <div class="text-lg-center">@student.PickupOne</div>
                                        <div class="text-lg-center">@student.PickupTwo</div>
                                        <div class="text-lg-center">@student.PickupThree</div>
                                        <div class="text-lg-center">@student.PickupFour</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="text-lg-center font-weight-bold">Relation</div>
                                        <div class="text-lg-center">@student.RelationOne</div>
                                        <div class="text-lg-center">@student.RelationTwo</div>
                                        <div class="text-lg-center">@student.RelationThree</div>
                                        <div class="text-lg-center">@student.RelationFour</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="text-lg-center font-weight-bold">Phone Number</div>
                                        <div class="text-lg-center">@student.CellOne</div>
                                        <div class="text-lg-center">@student.CellTwo</div>
                                        <div class="text-lg-center">@student.CellThree</div>
                                        <div class="text-lg-center">@student.CellFour</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}