@using System.Collections
@using System.Xml
@using HMAFlex.Controllers

@{
    ViewData["Title"] = "Edit AMP Student";
    int id = ViewBag.Message;

    AMPStudent student = Util.GetAMPStudent(id);
    
    ArrayList taekwondoBelts = new ArrayList();
    taekwondoBelts.Add("None");
    taekwondoBelts.Add("White Belt");
    taekwondoBelts.Add("Yellow Belt");
    taekwondoBelts.Add("Orange Belt");
    taekwondoBelts.Add("Green Belt");
    taekwondoBelts.Add("Blue-Tip Belt");
    taekwondoBelts.Add("Blue Belt");
    taekwondoBelts.Add("Purple Belt");
    taekwondoBelts.Add("Brown Belt");
    taekwondoBelts.Add("Red Belt");
    taekwondoBelts.Add("Black-Tip Belt");
    taekwondoBelts.Add("Tiger Belt");
    taekwondoBelts.Add("Dragon Belt");
    taekwondoBelts.Add("Temporary Black Belt");
    taekwondoBelts.Add("First Dan");
    taekwondoBelts.Add("Second Dan");
    taekwondoBelts.Add("Third Dan");
    taekwondoBelts.Add("Fourth Dan");
    taekwondoBelts.Add("Fifth Dan");
    taekwondoBelts.Add("Sixth Dan");
    
    ArrayList judoBelts = new ArrayList();
    judoBelts.Add("None");
    judoBelts.Add("White Belt");
    judoBelts.Add("Yellow Belt");
    judoBelts.Add("Orange Belt");
    judoBelts.Add("Green Belt");
    judoBelts.Add("Blue Belt");
    judoBelts.Add("Purple Belt");
    judoBelts.Add("Brown Belt");
    judoBelts.Add("Red Belt");
    judoBelts.Add("Temporary Black Belt");
    judoBelts.Add("First Dan");
    judoBelts.Add("Second Dan");
    judoBelts.Add("Third Dan");
    
                    
    <style>
        .field-left {
            float: left !important;
        }
        .field-right {
            float: right !important;
        }
    </style>
    <h1>Edit AMP Student - @student.LastName, @student.FirstName</h1>
                                                                                                                    
    <form method="POST">
    <div class="form-group">
        <div class="row">
            <div class="col-2 field-left">
                <div class="col-6 field-left">
                    <label for="id">ID</label>
                    <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@student.Id" name="Id">
                </div>    
            </div>
        </div>   
    </div>
    <div class="form-group">
    <div class="row">
        <div class="col-6">
            <h3>Student Information</h3>
            <div class="col-6 field-left">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="@student.FirstName" name="FirstName">
            </div>
            <div class="col-6 field-right">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="@student.LastName" name="LastName">
            </div>
        </div>
        <div class="col-6">
            <h3>Medical Information</h3>
            <div class="col-6 field-left">
                <label for="physician">Physician</label>
                <input type="text" class="form-control" id="physician" aria-describedby="physician" placeholder="@student.PhysicianName" name="PhysicianName">
            </div>
            <div class="col-2 field-right">
                <label for="physician-phoneExt">Ext.</label>
                <input type="text" id="physician-phoneExt" class="form-control" aria-describedby="physicianPhoneExt" placeholder="@student.PhysicianExt" name="PhysicianExt">
            </div>
            <div class="col-4 field-right">
                <label for="physician-phone">Phone Number</label>
                <input type="text" id="physician-phone" class="form-control" aria-describedby="physicianPhone" placeholder="@student.PhysicianNumber" name="PhysicianNumber">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="col-6 field-left">
                <label for="date-of-birth">Date of Birth</label>
                <input id="date-of-birth" type="text" class="form-control" aria-describedby="birthday" placeholder="@student.Birthday.ToShortDateString" name="Birthday"/>
            </div>
            <div class="col-6 field-right">
                <label for="school">School</label>
                <input id="school" type="text" class="form-control" aria-describedby="school" placeholder="@student.School" name="School">
            </div>
        </div>
        <div class="col-6">
            <div class="col-6 field-left">
                <label for="hospital">Preferred Hospital</label>
                <input type="text" class="form-control" id="hospital" aria-describedby="hospital" placeholder="@student.HospitalPref" name="HospitalPref">
            </div>
            <div class="col-2 field-right">
                <label for="hospital-phoneExt">Ext.</label>
                <input type="text" id="hospital-phoneExt" class="form-control" aria-describedby="hospitalPhoneExt" placeholder="@student.HospitalExt" name="HospitalExt">
            </div>
            <div class="col-4 field-right">
                <label for="hospital-phone">Phone Number</label>
                <input type="text" id="hospital-phone" class="form-control" aria-describedby="hospitalPhone" placeholder="@student.HospitalPhone" name="HospitalPhone">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" aria-describedby="address" placeholder="@student.Address" name="Address">
            </div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <label for="conditions">Health Conditions</label>
                <input type="text" id="conditions" class="form-control" aria-describedby="conditions" placeholder="@student.HealthConditions" name="HealthConditions">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="col-6 field-left">
                <label for="taekwondoBeltRank">Taekwondo Belt Rank</label>
                <select class="form-control" id="taekwondoBeltRank" name="TaekwondoBeltRank">
                    @{
                        foreach (var belt in taekwondoBelts)
                        {
                            if ((string) belt == Util.GetRankString(student.TaekwondoRank))
                            {
                                <option value="@belt" selected>@belt</option>
                            }
                            else
                            {
                                <option value="@belt">@belt</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="col-6 field-right">
                <label for="judoBeltRank">Judo Belt Rank</label>
                <select class="form-control" id="judoBeltRank" name="JudoBeltRank">
                    @{
                        foreach (var belt in judoBelts)
                        {
                            if ((string) belt == Util.GetRankString(student.JudoRank))
                            {
                                <option value="@belt" selected>@belt</option>
                            }
                            else
                            {
                                <option value="@belt">@belt</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="col-6 field-left">
                <label for="medication">Medication</label>
                <input type="text" id="medication" class="form-control" aria-describedby="medication" placeholder="@student.Medication" name="Medication">
            </div>
            <div class="col-6 field-right">
                <label for="allergies">Allergies</label>
                <input type="text" id="allergies" class="form-control" aria-describedby="allergies" placeholder="@student.Allergies" name="Allergies">
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="col-5 field-left">
                <label for="courseType">Course Type</label>
                <input type="text" id="courseType" class="form-control" placeholder="@student.CourseType" aria-describedby="courseType" name="CourseType">
            </div>
            <div class="col-5 field-right">
                <label for="courseType">Membership Expiration</label>
                <input type="text" id="courseType" class="form-control" placeholder="@student.MembershipExpiration" aria-describedby="MembershipExpiration" name="MembershipExpiration">
            </div>
            <div class="col-2 field-right">
                <label for="currentStudent">Active</label>
                <select class="form-control" id="currentStudent" name="CurrentStudent">
                    @{
                        if (student.CurrentStudent)
                        {
                            <option value="True" selected>True</option>
                            <option value="False">False</option>
                        }
                        else
                        {
                            <option value="True">True</option>
                            <option value="False" selected>False</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
                            
    <hr/>
                            
    <h3>Pickup and Dropoff Information</h3>
    <br/>


    <h5 style="text-align: center;">Pickup One</h5>
    <div class="row">
        <br/>
        <div class="col-4">
            <label for="pickupOne">Name</label>
            <input type="text" id="pickupOne" class="form-control" aria-describedby="pickupOne" placeholder="@student.PickupOne" name="PickupOne">
        </div>
        <div class="col-4">
            <label for="relationOne">Relation</label>
            <input type="text" id="relationOne" class="form-control" aria-describedby="relationOne" placeholder="@student.RelationOne" name="RelationOne">
        </div>
        <div class="col-4">
            <label for="cellOne">CellPhone</label>
            <input type="text" id="cellOne" class="form-control" aria-describedby="cellOne" placeholder="@student.CellOne" name="CellOne">
        </div>
    </div>
    <br/>
                                
    <h5 style="text-align: center;">Pickup Two</h5>
    <div class="row">
        <br/>
        <div class="col-4">
            <label for="pickupTwo">Name</label>
            <input type="text" id="pickupTwo" class="form-control" aria-describedby="pickupTwo" placeholder="@student.PickupTwo" name="PickupTwo">
        </div>
        <div class="col-4">
            <label for="relationTwo">Relation</label>
            <input type="text" id="relationTwo" class="form-control" aria-describedby="relationTwo" placeholder="@student.RelationTwo" name="RelationTwo">
        </div>
        <div class="col-4">
            <label for="cellTwo">CellPhone</label>
            <input type="text" id="cellTwo" class="form-control" aria-describedby="cellTwo" placeholder="@student.CellTwo" name="CellTwo">
        </div>
    </div>
    <br/>
                        
    <h5 style="text-align: center;">Pickup Three</h5>
    <div class="row">
        <br/>
        <div class="col-4">
            <label for="pickupThree">Name</label>
            <input type="text" id="pickupThree" class="form-control" aria-describedby="pickupThree" placeholder="@student.PickupThree" name="PickupThree">
        </div>
        <div class="col-4">
            <label for="relationThree">Relation</label>
            <input type="text" id="relationThree" class="form-control" aria-describedby="relationThree" placeholder="@student.RelationThree" name="RelationThree">
        </div>
        <div class="col-4">
            <label for="cellThree">CellPhone</label>
            <input type="text" id="cellThree" class="form-control" aria-describedby="cellThree" placeholder="@student.RelationFour" name="CellThree">
        </div>
    </div>
    <br/>
    <h5 style="text-align: center;">Pickup Four</h5>
    <div class="row">
        <div class="col-4">
            <label for="pickupFour">Name</label>
            <input type="text" id="pickupFour" class="form-control" aria-describedby="pickupFour" placeholder="@student.PickupFour" name="PickupFour">
        </div>
        <div class="col-4">
            <label for="relationFour">Relation</label>
            <input type="text" id="relationFour" class="form-control" aria-describedby="relationFour" placeholder="@student.RelationFour" name="RelationFour">
        </div>
        <div class="col-4">
            <label for="cellFour">CellPhone</label>
            <input type="text" id="cellFour" class="form-control" aria-describedby="cellFour" placeholder="@student.CellFour" name="CellFour">
        </div>
    </div>
    </div>
    <br/>
    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
    </form>
                
}