﻿@using System.Xml
@using HMAFlex.Controllers
@{
  ViewData["Title"] = "AMP Students";
}
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script>
$(document).ready( function () {
    $('#dataTable').DataTable();
} );
</script>
<h1>AMP Students</h1>
<p>
  @Html.ActionLink("Create New", "CreateStudent", "AMP")
</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">AMP Students</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Belt Rank</th>
          <th>School</th>
          <th>Course Type</th>
          <th>Current Student</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
          foreach (var (key, student) in Program.AMPStudents)
          {
            <tr>
              <td>@student.Id</td>
              <td>@student.FirstName @student.LastName</td>
              <td>@Util.GetRankString(student.TaekwondoRank)</td>
              <td>@student.School</td>
              <td>@student.CourseType</td>
              <td>@student.CurrentStudent</td>
              <td>
                @Html.ActionLink("Edit", "EditStudent", "AMP", new {Id = student.Id}) |
                @Html.ActionLink("Details", "DetailStudent", "AMP", new {Id = student.Id}) |
                @Html.ActionLink("Delete", "DeleteStudent", "AMP", new {Id = student.Id}) <br/>
                @Html.ActionLink("Print TKD Cert.", "PrintCertificate", "AMP", new {Id = student.Id, Type = "Taekwondo - Student"}) |
                @Html.ActionLink("Print Judo Cert.", "PrintCertificate", "AMP", new {Id = student.Id, Type = "Judo - Student"})</td>
            </tr>
          }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--
Modal View (unedited): https://www.toptal.com/developers/hastebin/vofivaqubo.typescript
-->