@using System.Xml
@using HMAFlex.Controllers
@{
    ViewData["Title"] = "AMP Staff Members";
}

<h1>AMP Staff & Volunteer Information</h1>
<p>
  @Html.ActionLink("Create New", "CreateStaff", "AMP")
</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">AMP Staff Members</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Belt Rank</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
          foreach (var (key, staff) in Program.AMPStaff)
          {
            <tr>
              <td>@staff.Id</td>
              <td>@staff.FirstName @staff.LastName</td>
              <td>@Util.GetRankString(staff.TaekwondoRank)</td>
              @{
                if (@staff.Monday)
                {
                  <td><img src="~/img/checkmark.png" height="30px" width=auto></td>
                }
                else
                {
                  <td> </td>
                }
                if (@staff.Tuesday)
                {
                  <td><img src="~/img/checkmark.png" height="30px" width=auto></td>
                }
                else
                {
                  <td> </td>
                }
                if (@staff.Wednesday)
                {
                  <td><img src="~/img/checkmark.png" height="30px" width=auto></td>
                }
                else
                {
                  <td> </td>
                }
                if (@staff.Thursday)
                {
                  <td><img src="~/img/checkmark.png" height="30px" width=auto></td>
                }
                else
                {
                  <td> </td>
                }
                if (@staff.Friday)
                {
                  <td><img src="~/img/checkmark.png" height="30px" width=auto></td>
                }
                else
                {
                  <td> </td>
                }
              }

              <td>
                @Html.ActionLink("Edit", "EditStaff", "AMP", new {Id = staff.Id}) |

                @Html.ActionLink("Details", "DetailStaff", "AMP", new {Id = staff.Id}) |
                @Html.ActionLink("Delete", "DeleteStaff", "AMP", new {Id = staff.Id})<br/>
                @Html.ActionLink("Print TKD Cert.", "PrintCertificate", "AMP", new {Id = staff.Id, Type = "Taekwondo - StaffMember"})</td>
            </tr>
          }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>