@using HMAFlex.Controllers
<!DOCTYPE html>
@{
    Layout = null;

    int testerId = Util.GetTesterId();
    string testerName = Util.GetTesterName();
    string testerDate = Util.GetTesterDate();
    string testerTestType = Util.GetTesterTestType();
    string testerBeltRank = Util.GetTesterBeltRank();
}

<head>
    <link href="http://db.onlinewebfonts.com/c/b1f909b1cb3adb801a92229ea92613e1?family=Script+MT+Bold" rel="stylesheet" type="text/css"/>
    <style>
    @@import url(//db.onlinewebfonts.com/c/b1f909b1cb3adb801a92229ea92613e1?family=Script+MT+Bold);
    @@font-face {font-family: "Script MT Bold"; src: url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.eot"); src: url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.woff") format("woff"), url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b1f909b1cb3adb801a92229ea92613e1.svg#Script MT Bold") format("svg"); }
        .test-info p {
            font-family: "Times New Roman",serif;
            font-size: 12pt;
        }
        .test-info h1 {
            font-family: "Script MT Bold";
            font-size: 22pt;
        }
        .test-info {
            padding-top: 2.75in;
        }
        .area {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>

<div class="test-info">
    <div class="row">
        <div class="col-12">
            <p class="area">@testerDate</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="area">@testerName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="area">@testerTestType @testerBeltRank</p>
        </div>
    </div>
</div>