@using System.Xml
<!DOCTYPE html>
@{
    Layout = null;
    XmlReader xmlReader = XmlReader.Create("Views/Summer/SummerStudent.xml");
}
<html>
    <head>
        <title>Summer Student Attendance</title>
        <style>
            * {
                font-family: "Times New Roman",serif;
            }
            th, td {
                border: 1px solid #000000;
                padding: 5px;
            }
            table {
                border: 1px solid #000000;
            }
            td {
                text-align: center;
            }
            .regular {
                text-align: center;
                font-style: italic;
                font-weight: bold;
            }
            .signin {
                text-align: center;
                text-transform: uppercase;
                color: red;
                font-style: italic;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <div style="height: auto;" class="row">
                <div style="width: 7%; float: left;">
                    &nbsp;
                </div>
                <div style="width:20%;float: left;">
                    <img src="https://gyazo.com/9877abe53150773948b3b1a19d07e1a1.png" width="50%" style="padding-left:50px;">
                </div>
                <div style="width: 13%; float: right;">
                    &nbsp;
                </div>
                <div style="width:60%;float: right;">
                    <h1>Summer Student Attendance</h1>
                            
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <table cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tr class="regular">
                        <th>ID</th>
                        <th>Name</th>
                        <th colspan="2">Monday</th>
                        <th colspan="2">Tuesday</th>
                        <th colspan="2">Wednesday</th>
                        <th colspan="2">Thursday</th>
                        <th colspan="2">Friday</th>
                    </tr>
                    <tr class="signin">
                        <th></th>
                        <th></th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                    </tr>
                    @{
                        while (xmlReader.Read())
                        {
                            if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "Student")
                            {
                                if (xmlReader.HasAttributes)
                                {
                                    <tr>
                                        <td rowspan="2">@xmlReader.GetAttribute("Id")</td>
                                        <td style="text-align: left !important;">@xmlReader.GetAttribute("LastName"), @xmlReader.GetAttribute("FirstName")</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; font-style: italic; font-size: small;">Parent Initials</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </body>
</html>