@using System.Xml
<!DOCTYPE html>
@{
    Layout = null;
    XmlReader xmlReader = XmlReader.Create("Views/Summer/SummerStudent.xml");
}
<html>
    <head>
        <title>Summer Student ICE</title>
        <style>
            th, td {
                border: 1px solid #000000;
                padding: 5px;
            }
            table {
                border: 1px solid #000000;
            }
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <div style="height: auto;" class="row">
                <div style="width: 15%; float: left;">
                    &nbsp;
                </div>
                <div style="width:20%;float: left;">
                    <img src="https://gyazo.com/9877abe53150773948b3b1a19d07e1a1.png" width="50%" style="padding-left:50px;">
                </div>
                <div style="width: 5%; float: right;">
                    &nbsp;
                </div>
                <div style="width:60%;float: right;">
                    <h1>Summer Student ICE</h1>
                                        
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <p>&nbsp;</p>
                <table cellspacing="0" cellpadding="0" style="width: 100%; margin-top: 10px;">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Pickup 1</th>
                        <th>Pickup 2</th>
                        <th>Pickup 3</th>
                        <th>Pickup 4</th>
                        <th>Allergies</th>
                        <th>Conditions</th>
                        <th>Medication</th>
                    </tr>
                    @{
                        while (xmlReader.Read())
                        {
                            if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "Student")
                            {
                                if (xmlReader.HasAttributes)
                                {
                                    <tr>
                                        <td>@xmlReader.GetAttribute("Id")</td>
                                        <td>@xmlReader.GetAttribute("LastName"), @xmlReader.GetAttribute("FirstName")</td>
                                        <td>@xmlReader.GetAttribute("PickupOne") - @xmlReader.GetAttribute("CellOne")</td>
                                        <td>@xmlReader.GetAttribute("PickupTwo") - @xmlReader.GetAttribute("CellTwo")</td>
                                        <td>@xmlReader.GetAttribute("PickupThree") - @xmlReader.GetAttribute("CellThree")</td>
                                        <td>@xmlReader.GetAttribute("PickupFour") - @xmlReader.GetAttribute("CellFour")</td>
                                        <td>@xmlReader.GetAttribute("Allergies")</td>
                                        <td>@xmlReader.GetAttribute("HealthConditions")</td>
                                        <td>@xmlReader.GetAttribute("Medication")</td>
                                    </tr>
                                }
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </body>
</html>