@using System.Xml
@using Microsoft.VisualBasic
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
    <head>
        <title>Summer Staff Attendance</title>
        <style>
            * {
                font-family: "Times New Roman",serif;
            }
            th, td {
                border: 1px solid #000000;
                padding: 5px;
            }
            table {
                border: 1px solid #000000;
            }
            td {
                text-align: center;
            }
            .regular {
                text-align: center;
                font-style: italic;
                font-weight: bold;
            }
            .signin {
                text-align: center;
                text-transform: uppercase;
                color: red;
                font-style: italic;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <div style="height: auto;" class="row">
                <div style="width: 3%; float: left;">
                    &nbsp;
                </div>
                <div style="width:20%;float: left;">
                    <img src="https://gyazo.com/9877abe53150773948b3b1a19d07e1a1.png" width="50%" style="padding-left:50px;">
                </div>
                <div style="width: 12%; float: right;">
                    &nbsp;
                </div>
                <div style="width:65%;float: right;">
                    <h1>Summer Staff Attendance Sheet</h1>
                            
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="row">
                <table cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tr class="regular">
                        <th>ID</th>
                        <th>Name</th>
                        <th colspan="2">Monday</th>
                        <th colspan="2">Tuesday</th>
                        <th colspan="2">Wednesday</th>
                        <th colspan="2">Thursday</th>
                        <th colspan="2">Friday</th>
                    </tr>
                    <tr class="signin">
                        <th></th>
                        <th></th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                        <th>Sign<br/>In</th>
                        <th>Sign<br/>Out</th>
                    </tr>
                    @{
                        for (int x = 1; x <= 10; x++)
                        {
                            <tr class="regular">
                                <th colspan="12" style="background-color: #adb5bd;"> Summer Camp Week @x, @DateAndTime.Year(DateTime.Now).ToString()</th>
                            </tr>
                            
                            XmlReader xmlReader = XmlReader.Create("Views/Summer/SummerStaff.xml");
                            while (xmlReader.Read())
                            {
                                if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "StaffMember")
                                {
                                    if (xmlReader.HasAttributes)
                                    {
                                        <tr>
                                            <td>@xmlReader.GetAttribute("Id")</td>
                                            <td style="text-align: left !important;">@xmlReader.GetAttribute("LastName"), @xmlReader.GetAttribute("FirstName")</td>
                                            
                                            @{
                                                if (xmlReader.GetAttribute("Monday") == "False")
                                                {
                                                    <td style="background-color: #000000;"></td>
                                                    <td style="background-color: #000000;"></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                                
                                                if (xmlReader.GetAttribute("Tuesday") == "False")
                                                {
                                                    <td style="background-color: #000000;"></td>
                                                    <td style="background-color: #000000;"></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                                
                                                if (xmlReader.GetAttribute("Wednesday") == "False")
                                                {
                                                    <td style="background-color: #000000;"></td>
                                                    <td style="background-color: #000000;"></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                                
                                                if (xmlReader.GetAttribute("Thursday") == "False")
                                                {
                                                    <td style="background-color: #000000;"></td>
                                                    <td style="background-color: #000000;"></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                                
                                                
                                                if (xmlReader.GetAttribute("Friday") == "False")
                                                {
                                                    <td style="background-color: #000000;"></td>
                                                    <td style="background-color: #000000;"></td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                    }
                                }
                            }
                            
                            xmlReader.Close();
                            continue;
                        }
                    }
                </table>
            </div>
        </div>
    </body>
</html>