@using System.Xml
@using HMAFlex.Controllers
@{
    ViewData["Title"] = "Delete Summer Staff";
    int id = ViewBag.Message;
    SummerStaff staff = Util.GetSummerStaff(id);
}
<style>
    .confirmDelete {
        margin: 0 auto !important;
    }
</style>
<h1>Delete Summer Staff</h1>
@{
    <div class="confirmDelete">
        <h3>Are you sure that you would like to delete staff member @staff.FirstName @staff.LastName?</h3>
        <form method="POST">
            <div class="row">
                <div class="col-2">
                    <label for="id">ID</label>
                    <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@staff.Id" name="Id">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </form>
    </div>
}