@using System.Xml
@using HMAFlex.Controllers
@{
    Layout = "_GeneralLayout";
    ViewData["Title"] = "Summer Camp Staff Details";
    int id = ViewBag.Message;
    SummerStaff staff = Util.GetSummerStaff(id);
}
<!--
GeneralInformation
Camp Day Information
-->
@{
                    <h1>Summer Camp Staff Details - ID: @staff.Id (@staff.LastName, @staff.FirstName)</h1>
                    
                    <div class="row" style="text-align: center;">
                        <div class="col-4">
                            @Html.ActionLink("Edit Staff", "EditStaff", "Summer", new {Id = id})
                        </div>
                        <div class="col-4">
                            @Html.ActionLink("Print TKD Certificate", "PrintCertificate", "Summer", new {Id = id, Type = "Taekwondo - StaffMember"})
                        </div>
                        <div class="col-4">
                            @Html.ActionLink("Delete Staff", "DeleteStaff", "Summer", new {Id = id})
                        </div>
                    </div>                                                           
                                                                               
    <div class="row">
        <div class="col-12">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">
                            <div class="hma-logo">
                                <img src="~/img/condensedlogo.png" width="100%">
                            </div>
                            <div class="basic-info">
                                <div class="text-xl-center text-uppercase font-weight-bold"><h2>@staff.FirstName @staff.LastName</h2></div>
                                <div class="text-lg-center"><b>Taekwondo Belt:</b> @staff.TaekwondoRank</div>
                            </div>
                        </div>
                        <div class="col-8" style="border-left: 1px solid #a9aab1; padding-left: 10px;">
                            <div class="text-xl-center text-uppercase font-weight-bold">General Information</div>
                            <div class="text-lg-left"><b>Birthday:</b> @staff.Birthday.ToShortDateString</div>
                            <div class="text-lg-left"><b>Email:</b> @staff.Email</div>
                            <div class="text-lg-left"><b>Phone Number:</b> @staff.PhoneNumber</div>
                                            
                            <br/>
                                            
                            <div class="text-xl-center text-uppercase font-weight-bold">Daily Summer Camp Information</div>
                            <div class="row">
                                <div class="col-1">
                                    &nbsp;
                                </div>
                                <div class="col-2">
                                    <div class="text-lg-center font-weight-bold">Monday?</div>
                                    @{
                                        if (staff.Monday)
                                        {
                                            <img src="~/img/checkmark.png" width="100%" alt="True">
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <div class="text-lg-center font-weight-bold">Tuesday?</div>
                                    @{
                                        if (staff.Tuesday)
                                        {
                                            <img src="~/img/checkmark.png" width="100%" alt="True">
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <div class="text-lg-center font-weight-bold">Wednesday?</div>
                                    @{
                                        if (staff.Wednesday)
                                        {
                                            <img src="~/img/checkmark.png" width="100%" alt="True">
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <div class="text-lg-center font-weight-bold">Thursday?</div>
                                    @{
                                        if (staff.Thursday)
                                        {
                                            <img src="~/img/checkmark.png" width="100%" alt="True">
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <div class="text-lg-center font-weight-bold">Friday?</div>
                                    @{
                                        if (staff.Friday)
                                        {
                                            <img src="~/img/checkmark.png" width="100%" alt="True">
                                        }
                                    }
                                </div>
                                <div class="col-1">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}