﻿@using Api2PdfLibrary
@using Microsoft.VisualBasic

@{
    /*
     * https://localhost:5001/HtmlLayouts/AMPStudentEmergencyContact
     */
    
    ViewData["Title"] = "Summer Camp Attendance";
    var link = "http://www.hmalouisville.com";
    var fileName = "Summer Camp Attendance - " + DateAndTime.DateString + ".pdf";
    
    var options = new Dictionary<string, string>();
    options.Add("orientation", "portrait");
    options.Add("pageSize", "Letter");
    
    var a2pClient = new Api2Pdf("0e376dff-1081-4e59-a152-4fd73a540357");
    var apiResponseViewer = a2pClient.WkHtmlToPdf.FromUrl(link, inline: true, outputFileName: fileName, options);
    var apiResponseDownload = a2pClient.WkHtmlToPdf.FromUrl(link, inline: false, outputFileName: fileName, options);
}
<h1>Summer Camp Attendance Sheet</h1>
<h2></h2>

<div class="row">
    <div class="col-3">
        
    </div>
    <div class="col-3">
        <a class="btn btn-secondary btn-user btn-block" href="@apiResponseDownload.Pdf"><i class="fas fa-fw fa-download"></i> &nbsp;Download</a>
    </div>
    <div class="col-3">
        <a class="btn btn-secondary btn-user btn-block" href="@apiResponseViewer.Pdf"><i class="fas fa-fw fa-print"></i> &nbsp;Print</a>
    </div>
    <div class="col-3">
        
    </div>
</div>
<br/>
<div id="adobe-dc-view">
    <embed src="@apiResponseViewer.Pdf" type="application/pdf" width="100%" height="600px" />
</div>