﻿@{
    ViewData["Title"] = "AMP Student Check-In";
    Layout = "_CheckInLayout";
}

<div class="col">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    
                </div>
            </div>
        </div>
    </div>
</div>