﻿@using System.Xml
@using System.Collections
@using System.IO.Pipelines
@using HMAFlex.Controllers
@using HMAFlex.Models
@{
    ViewData["Title"] = "Check-In Landing Page";
	Layout = "_CheckInLayout";



	//CheckedIn Counts
	int numAmpStaff = 0;
	int numAmpStudents = 0;
	int numSummerStaff = 0;
	int numSummerStudents = 0;
	int numEveningClass = 0;

	foreach (var (key, value) in Program.CheckIns)
	{
		switch (value.Type)
		{
			case CheckInOutType.AMPStaff: numAmpStaff++; break;
			case CheckInOutType.AMPStudent: numAmpStudents++; break;
			case CheckInOutType.SummerStaff: numSummerStaff++; break;
			case CheckInOutType.SummerStudent: numSummerStudents++; break;
			case CheckInOutType.EveningClassStudent: numEveningClass++; break;
		}
	}
	foreach (var (key, value) in Program.CheckOuts)
	{
		switch (value.Type)
		{
			case CheckInOutType.AMPStaff: numAmpStaff--; break;
			case CheckInOutType.AMPStudent: numAmpStudents--; break;
			case CheckInOutType.SummerStaff: numSummerStaff--; break;
			case CheckInOutType.SummerStudent: numSummerStudents--; break;
			case CheckInOutType.EveningClassStudent: numEveningClass--; break;
		}
	}

	double percentAmpStaff = numAmpStaff / @ViewBag.numAMPStaff * 100;
	double percentAmpStudent = numAmpStudents / @ViewBag.numAMPStudent * 100;
	double percentSummerStaff = numSummerStaff / @ViewBag.numSummerStaff * 100;
	double percentSummerStudent = numSummerStudents / @ViewBag.numSummerStudent * 100;
	double percentEveningClass = numEveningClass / @ViewBag.numEveningClass * 100;
}

<link rel="stylesheet" href="css/ProgressBar.css">

<style>
	h4 {
		text-align:  center;
		padding-top: 2rem;
	}
	
	.p-5 {
		padding: 3rem 0 0 0 !important; /* top right bottom left */
	}
	
	a:link {
		text-decoration: none;
	}
</style>


<div class="card-body p-0">
	<!-- Nested Row within Card Body -->
	<div class="row">
		<!--
		AMP
		-->
		<div class="col-4">
			<div class="container p-5">
				<a role="button" asp-area="" asp-controller="CheckIn" asp-action="AMP">
					<div class="progress" data-percentage="@Convert.ToInt32(percentAmpStudent)">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">
							<div>
								@numAmpStudents / @ViewBag.numAMPStudent (@Convert.ToInt32(percentAmpStudent)%)<br>
								<span>Checked In</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<h4>AMP Students</h4>
		</div>
		<div class="col-4">
			<div class="container p-5">
				<a role="button" asp-area="" asp-controller="CheckIn" asp-action="AMP">
					<div class="progress" data-percentage="@Convert.ToInt32(percentAmpStaff)">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">
							<div>
								@numAmpStaff / @ViewBag.numAMPStaff (@Convert.ToInt32(percentAmpStaff)%)<br>
								<span>Checked In</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<h4>AMP Staff</h4>
		</div>

		<!--
		Information or something idk
		-->
		<div class="col-4">
			<div class="align-content-center" style="padding: 22% 5% 0 0;">
				<h1 style="text-align: center; color: #005894 !important; font-weight: bolder;">Student and Staff Check-In</h1>
				<h5 style="text-align: center;">Click on a circle to check-in/check-out a student.</h5>
			</div>
		</div>
				
	</div>
			
	<div class="row">
		<!--
		Summer Camp
		-->
		<div class="col-4">
			<div class="container p-5">
				<a role="button" asp-area="" asp-controller="CheckIn" asp-action="SummerCamp">
					<div class="progress" data-percentage="@Convert.ToInt32(percentSummerStudent)">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">
							<div>
								@numSummerStudents / @ViewBag.numSummerStudent (@Convert.ToInt32(percentSummerStudent)%)<br>
								<span>Checked In</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<h4>Summer Camp Students</h4>
		</div>
		<div class="col-4">
			<div class="container p-5">
				<a role="button" asp-area="" asp-controller="CheckIn" asp-action="SummerCamp">
					<div class="progress" data-percentage="@Convert.ToInt32(percentSummerStaff)">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">
							<div>
								@numSummerStaff / @ViewBag.numSummerStaff (@Convert.ToInt32(percentSummerStaff)%)<br>
								<span>Checked In</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<h4>Summer Camp Staff</h4>
		</div>
		<!--
		Evening Class
		-->
		<div class="col-4">
			<div class="container p-5">
				<a role="button" asp-area="" asp-controller="CheckIn" asp-action="EveningClass">
					<div class="progress" data-percentage="@Convert.ToInt32(percentEveningClass)">
						<span class="progress-left">
							<span class="progress-bar"></span>
						</span>
						<span class="progress-right">
							<span class="progress-bar"></span>
						</span>
						<div class="progress-value">
							<div>
								@numEveningClass / @ViewBag.numEveningClass (@Convert.ToInt32(percentEveningClass)%)<br>
								<span>Checked In</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<h4>Evening Class Students</h4>
		</div>
	</div>
</div>


<!--

	<div class="col-lg-6">
		<div class="container p-5">
			<div class="progress" data-percentage="55">
				<span class="progress-left">
					<span class="progress-bar"></span>
				</span>
				<span class="progress-right">
					<span class="progress-bar"></span>
				</span>
				<div class="progress-value">
					<div>
						55/100 (55%)<br>
						<span>completed</span>
					</div>
				</div>
			</div>
		</div>
	</div>

-->
