﻿@using System.Xml
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";

    int trialCount = 0;
    int memberCount = 0;

    foreach (var (key, student) in Program.EveningClassStudents)
    {
        if (student.Status == EveningClassProgram.TrialLesson)
        {
            trialCount++;
        }
        else
        {
            memberCount++;
        }
    }

    int ampStudentCount = Program.AMPStudents.Count;
    int ampStaffCount = Program.AMPStaff.Count;
    int summerStudentCount = Program.SummerStudents.Count;
    int summerStaffCount = Program.SummerStaff.Count;
    int birthdayPartyCount = Program.BirthdayParties.Count;
    int userCount = Program.WebUsers.Count;
    int userActionCount = Program.UserActions.Count;
}
<h1>Dashboard</h1>

<div class="row">
    <!--
    EVENING CLASS
    -->
    <div class="col-4">
        <div class="mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Evening Class</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Active Members</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@memberCount</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Active Trial Lessons</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@trialCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-ninja fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    AMP
    -->
    <div class="col-4">
        <div class="mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">After School Program</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Students</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ampStudentCount</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Staff Members</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ampStaffCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    SUMMER CAMP
    -->
    <div class="col-4">
        <div class="mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">A+ All Day Summer Camp</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Students</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@summerStudentCount</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Staff Members</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@summerStaffCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sun fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
    <!--
        BIRTHDAY PARTIES
    -->
    <div class="col-6">
        <div class="mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Birthday Parties</div>
                            <div class="text-lg">
                                &nbsp;
                            </div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Birthday Parties</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@birthdayPartyCount</div>
                            <div class="text-lg">
                                &nbsp;
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-birthday-cake fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
        USERS
    -->
    <div class="col-6">
        <div class="mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">Users</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@userCount</div>
                            <div class="text-sm font-weight-bold text-uppercase mb-1">User Actions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@userActionCount</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-3x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
