﻿@using System.Net.Http
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoggedOutLayout.cshtml";
}

<div class="col">

  <div class="card o-hidden border-0">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">
              <div class="row">
                <div class="col-6">
                  <img src="img/hma corrected.png" width="100%">
                </div>
                <div class="col-6">
                  <img src="img/jwlf corrected.png" width="100%">
                </div>
              </div>
              <br/>
              <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <form method="POST">
              <div class="form-group">
                <label for="inputUsername">Username or Email</label>
                <input type="text" class="form-control form-control-user" id="inputUsername" aria-describedby="emailHelp" placeholder="Username" name="username">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password" name="password">
              </div>
              <input  type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
              <hr>
              <a style="text-align:center;" href="http://hmalouisville.com">Click to go back to hmalouisville.com</a>
              <br/>
              <br/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>