@using System.Collections
@using System.Xml

@{
    ViewData["Title"] = "Create Birthday Party";

    var xmlReader = XmlReader.Create("Views/EveningClass/EveningClassStudent.xml");
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

<h1>Create Birthday Party Event</h1>

<form method="POST">
    <br/>
    <div class="row">
        <div class="col-6">
            <h2>Child Information</h2>
        </div>
        <div class="col-6">
            <h2>Party Information</h2>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <h5 class="headingFive">Child One:</h5>
                <div class="col-5 field-left">
                    <label for="firstName1">First Name</label>
                    <input type="text" class="form-control" id="firstName1" aria-describedby="firstName" name="FirstNameOne">
                </div>
                <div class="col-5 field-right">
                    <label for="lastName1">Last Name</label>
                    <input type="text" class="form-control" id="lastName1" aria-describedby="lastName" name="LastNameOne">
                </div>
                <div class="col-2 field-right">
                    <label for="age1">Age</label>
                    <input type="text" class="form-control" id="age1" aria-describedby="lastName" name="AgeOne">
                </div>
            </div>
            <div class="col-6">
                <h5 class="headingFive">&nbsp;</h5>
                <div class="col-6 field-left">
                    <label for="PartyDate">Party Date</label>
                    <input type="text" class="form-control" id="PartyDate" aria-describedby="partyDate" name="PartyDate">
                </div>
                <div class="col-6 field-right">
                    <label for="PartyTime">Party Time</label>
                    <input type="text" class="form-control" id="PartyTime" aria-describedby="PartyTime" name="PartyTime">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h5 class="headingFive">Child Two:</h5>
                <div class="col-5 field-left">
                    <label for="firstName2">First Name</label>
                    <input type="text" class="form-control" id="firstName2" aria-describedby="firstName" name="FirstNameTwo">
                </div>
                <div class="col-5 field-right">
                    <label for="lastName2">Last Name</label>
                    <input type="text" class="form-control" id="lastName2" aria-describedby="lastName" name="LastNameTwo">
                </div>
                <div class="col-2 field-right">
                    <label for="age2">Age</label>
                    <input type="text" class="form-control" id="age2" aria-describedby="lastName" name="AgeTwo">
                </div>
            </div>
            <div class="col-6">
                <h5 class="headingFive">&nbsp;</h5>
                <div class="col-6 field-left">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" name="PhoneNumber">
                </div>
                <div class="col-3 field-right">
                    <label for="downPayment">Down Payment</label>
                    <input type="text" class="form-control" id="downPayment" aria-describedby="downPayment" name="DownPayment">
                </div>
                <div class="col-3 field-right">
                    <label for="EstimatedAttendees">Est. Attendees</label>
                    <input type="text" class="form-control" id="EstimatedAttendees" aria-describedby="EstimatedAttendees" name="EstimatedAttendees">
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h5 class="headingFive">Child Three:</h5>
                <div class="col-5 field-left">
                    <label for="firstName3">First Name</label>
                    <input type="text" class="form-control" id="firstName3" aria-describedby="firstName" name="FirstNameThree">
                </div>
                <div class="col-5 field-right">
                    <label for="lastName1">Last Name</label>
                    <input type="text" class="form-control" id="lastName3" aria-describedby="lastName" name="LastNameThree">
                </div>
                <div class="col-2 field-right">
                    <label for="age3">Age</label>
                    <input type="text" class="form-control" id="age3" aria-describedby="lastName" name="AgeThree">
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
    <br/>
    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
</form>