@using System.Xml
@{
    ViewData["Title"] = "Delete Birthday Party";
    int id = ViewBag.Message;
    
    XmlReader xmlReader = XmlReader.Create("Views/Birthdays/BirthdayParties.xml");
}
<style>
    .confirmDelete {
        margin: 0 auto !important;
    }
</style>
<h1>Delete Birthday Party</h1>
@{
    while (xmlReader.Read())
    {
        if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "BirthdayParty")
        {
            if (xmlReader.HasAttributes)
            {
                if (xmlReader.GetAttribute("Id") == id.ToString())
                {
                    <div class="confirmDelete">
                        <h3>Are you sure that you would like to delete party for @xmlReader.GetAttribute("FirstName1") @xmlReader.GetAttribute("LastName2") (ID: @xmlReader.GetAttribute("Id"))?</h3>
                        <form method="POST">
                            <div class="row">
                                <div class="col-2">
                                    <label for="id">ID</label>
                                    <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@xmlReader.GetAttribute("Id")" name="Id">
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-2">
                                    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
                                </div>
                            </div>
                        </form>
                    </div>
                }
            }
        }
    }
}