@using System.Collections
@using System.Xml

@{
    ViewData["Title"] = "Edit Birthday Party";

    var xmlReader = XmlReader.Create("Views/Birthdays/BirthdayParties.xml");
    int id = ViewBag.Message;
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

@{
    while (xmlReader.Read())
    {
        if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "BirthdayParty")
        {
            if (xmlReader.HasAttributes)
            {
                if (xmlReader.GetAttribute("Id") == id.ToString())
                {
                    <h1>Edit Birthday Party Event for ID: @xmlReader.GetAttribute("Id") (@xmlReader.GetAttribute("FirstName1") @xmlReader.GetAttribute("LastName1"))</h1>

                    <form method="POST">
                        <br/>
                        <div class="row">
                            <div class="col-6">
                                <h2>Child Information</h2>
                            </div>
                            <div class="col-6">
                                <h2>Party Information</h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-2 field-left">
                                    <div class="col-6 field-left">
                                        <label for="id">ID</label>
                                        <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@xmlReader.GetAttribute("Id")" name="Id">
                                    </div>
                                </div>
                            </div>   
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="headingFive">Child One:</h5>
                                    <div class="col-5 field-left">
                                        <label for="firstName1">First Name</label>
                                        <input type="text" class="form-control" id="firstName1" aria-describedby="firstName" placeholder="@xmlReader.GetAttribute("FirstName1")" name="FirstName1">
                                    </div>
                                    <div class="col-5 field-right">
                                        <label for="lastName1">Last Name</label>
                                        <input type="text" class="form-control" id="lastName1" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("LastName1")" name="LastName1">
                                    </div>
                                    <div class="col-2 field-right">
                                        <label for="age1">Age</label>
                                        <input type="text" class="form-control" id="age1" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("Age1")" name="Age1">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5 class="headingFive">&nbsp;</h5>
                                    <div class="col-6 field-left">
                                        <label for="PartyDate">Party Date</label>
                                        <input type="text" class="form-control" id="PartyDate" aria-describedby="partyDate" placeholder="@xmlReader.GetAttribute("PartyDate")" name="PartyDate">
                                    </div>
                                    <div class="col-6 field-right">
                                        <label for="PartyTime">Party Time</label>
                                        <input type="text" class="form-control" id="PartyTime" aria-describedby="PartyTime" placeholder="@xmlReader.GetAttribute("PartyTime")" name="PartyTime">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="headingFive">Child Two:</h5>
                                    <div class="col-5 field-left">
                                        <label for="firstName2">First Name</label>
                                        <input type="text" class="form-control" id="firstName2" aria-describedby="firstName" placeholder="@xmlReader.GetAttribute("FirstName2")" name="FirstName2">
                                    </div>
                                    <div class="col-5 field-right">
                                        <label for="lastName2">Last Name</label>
                                        <input type="text" class="form-control" id="lastName2" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("LastName2")" name="LastName2">
                                    </div>
                                    <div class="col-2 field-right">
                                        <label for="age2">Age</label>
                                        <input type="text" class="form-control" id="age2" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("Age2")" name="Age2">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h5 class="headingFive">&nbsp;</h5>
                                    <div class="col-6 field-left">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" placeholder="@xmlReader.GetAttribute("PhoneNumber")" name="PhoneNumber">
                                    </div>
                                    <div class="col-3 field-right">
                                        <label for="downPayment">Down Payment</label>
                                        <input type="text" class="form-control" id="downPayment" aria-describedby="downPayment" placeholder="@xmlReader.GetAttribute("DownPayment")" name="DownPayment">
                                    </div>
                                    <div class="col-3 field-right">
                                        <label for="EstimatedAttendees">Est. Attendees</label>
                                        <input type="text" class="form-control" id="EstimatedAttendees" aria-describedby="EstimatedAttendees" placeholder="@xmlReader.GetAttribute("EstimatedAttendees")" name="EstimatedAttendees">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="headingFive">Child Three:</h5>
                                    <div class="col-5 field-left">
                                        <label for="firstName3">First Name</label>
                                        <input type="text" class="form-control" id="firstName3" aria-describedby="firstName" placeholder="@xmlReader.GetAttribute("FirstName3")" name="FirstName3">
                                    </div>
                                    <div class="col-5 field-right">
                                        <label for="lastName1">Last Name</label>
                                        <input type="text" class="form-control" id="lastName3" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("LastName3")" name="LastName3">
                                    </div>
                                    <div class="col-2 field-right">
                                        <label for="age3">Age</label>
                                        <input type="text" class="form-control" id="age3" aria-describedby="lastName" placeholder="@xmlReader.GetAttribute("Age3")" name="Age3">
                                    </div>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
                    </form>                                                                                                                                               
                }
            }
        }
    }
}
