@using System.Collections
@using System.Xml
@{
    ViewData["Title"] = "Birthday Parties";
  
    XmlReader xmlReader = XmlReader.Create("Views/Birthdays/BirthdayParties.xml");
  
    ArrayList parties = new ArrayList();

  while (xmlReader.Read())
  {
    if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "BirthdayParty")
    {
      if (xmlReader.HasAttributes)
      {
        parties.Add(xmlReader.GetAttribute("PartyDate") + " -> " + xmlReader.GetAttribute("Id"));
      }
    }
  }

  parties.Sort();
}
<h1>Birthday Parties</h1>
<p>
  @Html.ActionLink("Create New", "CreateParty", "Birthdays")
</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Upcoming Birthday Parties</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Child One</th>
          <th>Child Two</th>
          <th>Child Three</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
          foreach (string party in parties)
          {
            XmlReader xmlReader2 = XmlReader.Create("Views/Birthdays/BirthdayParties.xml");

            string id = party.Split(" -> ")[1];
            string partyDate = party.Split(" -> ")[0];
            
            while (xmlReader2.Read())
            {
              if (xmlReader2.NodeType == XmlNodeType.Element && xmlReader2.Name == "BirthdayParty")
              {
                if (xmlReader2.HasAttributes)
                {
                  if (xmlReader2.GetAttribute("Id") == id)
                  {
                    <tr>
                      <td>@id</td>
                      <td>@xmlReader2.GetAttribute("FirstName1") @xmlReader2.GetAttribute("LastName1")</td>
                      <td>@xmlReader2.GetAttribute("FirstName2") @xmlReader2.GetAttribute("LastName2")</td>
                      <td>@xmlReader2.GetAttribute("FirstName3") @xmlReader2.GetAttribute("LastName3")</td>
                      <td>@partyDate</td>
                      <td>@xmlReader2.GetAttribute("PartyTime")</td>
                      <td>
                        @Html.ActionLink("Edit", "EditParty", "Birthdays", new {Id = xmlReader2.GetAttribute("Id")}) |
                        @Html.ActionLink("Details", "PartyDetails", "Birthdays", new {Id = xmlReader2.GetAttribute("Id")}) |
                        @Html.ActionLink("Delete", "DeleteParty", "Birthdays", new {Id = xmlReader2.GetAttribute("Id")})</td>
                    </tr>
                  }
                }
              }
            }
          }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>