@using System.Xml
@{
    Layout = "_GeneralLayout";
    ViewData["Title"] = "Birthday Party Details";
    int id = ViewBag.Message;
}
<!--
Student Information
Medical Information
Pickup Information
-->
@{
    XmlReader xmlReader = XmlReader.Create("Views/Birthdays/BirthdayParties.xml");

    while (xmlReader.Read())
    {
        if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.Name == "BirthdayParty")
        {
            if (xmlReader.HasAttributes)
            {
                if (xmlReader.GetAttribute("Id") == id.ToString())
                {
                    <h1>Birthday Party Details Details - ID: @xmlReader.GetAttribute("Id") (@xmlReader.GetAttribute("LastName1"), @xmlReader.GetAttribute("FirstName1"))</h1>
                    
                    <div class="row" style="text-align: center;">
                        <div class="col-4">
                            @Html.ActionLink("Edit Party", "EditParty", "Birthdays", new {Id = id})
                        </div>
                        <div class="col-4">
                            @Html.ActionLink("Return to Parties List", "Index", "Birthdays")
                        </div>
                        <div class="col-4">
                            @Html.ActionLink("Delete Party", "DeleteParty", "Birthdays", new {Id = id})
                        </div>
                    </div>                                                           
                                                                               
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-4">
                                            <div class="hma-logo">
                                                <img src="~/img/condensedlogo.png" width="100%">
                                            </div>
                                            <div class="basic-info">
                                                <div class="text-xl-center text-uppercase font-weight-bold"><h2>@xmlReader.GetAttribute("FirstName1") @xmlReader.GetAttribute("LastName1")</h2></div>
                                                <div class="text-lg-center font-weight-bold"><b>Party Date: </b>@xmlReader.GetAttribute("PartyDate")</div>
                                                <div class="text-lg-center font-weight-bold"><b>Party Time: </b>@xmlReader.GetAttribute("PartyTime")</div>
                                            </div>
                                        </div>
                                        <div class="col-8" style="border-left: 1px solid #a9aab1; padding-left: 10px;">
                                            <div class="text-xl-center text-uppercase font-weight-bold">General Information</div>
                                            <div class="text-lg-left"><b>Child One: </b>@xmlReader.GetAttribute("FirstName1") @xmlReader.GetAttribute("LastName1") (@xmlReader.GetAttribute("Age1"))</div>
                                            <div class="text-lg-left"><b>Child Two: </b>@xmlReader.GetAttribute("FirstName2") @xmlReader.GetAttribute("LastName2") (@xmlReader.GetAttribute("Age2"))</div>
                                            <div class="text-lg-left"><b>Child Three: </b>@xmlReader.GetAttribute("FirstName3") @xmlReader.GetAttribute("LastName3") (@xmlReader.GetAttribute("Age3"))</div>
                                            
                                            <br/>
                                            
                                            <div class="text-lg-left"><b>Phone Number: </b> @xmlReader.GetAttribute("PhoneNumber")</div>
                                            <div class="text-lg-left"><b>Estimated Amount of Attendees: </b> @xmlReader.GetAttribute("EstimatedAttendees")</div>
                                            <div class="text-lg-left"><b>Down Payment: </b> @xmlReader.GetAttribute("DownPayment")</div>
                                            
                                            <br/>
                                            
                                            <div class="text-lg-left"><b>Party Date: </b> @xmlReader.GetAttribute("PartyDate")</div>
                                            <div class="text-lg-left"><b>Party Time: </b> @xmlReader.GetAttribute("PartyTime")</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
}