﻿@using System.Xml
<!DOCTYPE html>
@{
  <html lang="en">

        <head>

          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">

          <title>@ViewBag.Title - @Program.Config.ProgramName</title>

          <!-- Custom fonts for this template-->
          <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

          <!-- Custom styles for this template-->
          <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

          <style>
            .brandname {
              font-family:  Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            }
          </style>
        </head>

        <body class="bg-primary">

        <div class="container">

          <!-- Outer Row -->
          <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

              <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <div class="col">
                      <div class="card o-hidden border-0">
                        <div class="card-header">
                          <img src="~/img/thumbnail_HMA flag.png" width="20%" style="float: left;"/>
                          <a class="btn btn-primary" style="float: right;" role="button" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a>
                        </div>
                        @RenderBody()
                      </div>
                      <footer class="sticky-footer bg-white">
                      		<hr style="margin-bottom: 0;"/>
                      		<div class="container my-auto">
                      			<div class="copyright text-center my-auto" style="padding: 3%;">
                              <span><a class="sidebar-brand d-flex align-items-center justify-content-center brandname" style="color: #858796FF;" asp-area="" asp-controller="Home" asp-action="Dashboard">
                                <div class="sidebar-brand-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" height="40px" width="40px" style="enable-background:new 0 0 512.001 512.001; fill: #858796;" xml:space="preserve"> <g> <g> <path d="M165.147,348.64c-1.86-1.86-4.44-2.93-7.069-2.93s-5.21,1.07-7.069,2.93c-1.86,1.86-2.93,4.44-2.93,7.069 c0,2.63,1.07,5.21,2.93,7.069c1.86,1.859,4.44,2.93,7.069,2.93c2.63,0,5.21-1.07,7.069-2.93c1.86-1.86,2.93-4.44,2.93-7.069 C168.077,353.08,167.007,350.5,165.147,348.64z"></path> </g> </g> <g> <g> <path d="M484.467,77.312l-40.474-60.127v-6.946c0-5.522-4.477-9.999-9.999-9.999s-9.999,4.477-9.999,9.999v6.947L383.52,77.313 c-10.82,4.674-19.478,13.426-24.025,24.312c2.612-7.65,2.047-16.345-2.304-23.879l-11.087-19.203 c-3.873-6.707-10.125-11.506-17.607-13.511c-7.482-2.006-15.297-0.977-22.004,2.897l-12.237,7.064 c-7.48,4.32-12.303,11.493-13.901,19.358l-15.849,9.15l-0.699-1.184c-2.79-4.722-8.859-6.316-13.609-3.575l-35.234,20.342 c-3.119,1.8-6.922,1.688-9.929-0.289l-36.851-24.24c-15.593-10.257-35.32-10.832-51.483-1.5l-7.183,4.148 c0.238-0.755,0.466-1.514,0.672-2.284c3.733-13.931,1.817-28.482-5.395-40.972l-4-6.927C93.584,14.531,81.94,5.596,68.009,1.864 C54.078-1.87,39.526,0.046,27.037,7.258C14.546,14.468,5.611,26.112,1.879,40.044c-3.733,13.931-1.817,28.482,5.395,40.972 l4,6.927c7.21,12.49,18.854,21.425,32.786,25.158c0.024,0.006,0.048,0.011,0.071,0.018l-20.434,11.798 c-13.009,7.51-21.091,21.508-21.091,36.53v60.893c0,23.259,18.922,42.181,42.182,42.181h26.609c0.132,0,0.259-0.015,0.39-0.02 c4.656,7.139,12.015,11.594,19.943,12.8l-49.44,175.306c-23.906,3.731-42.257,24.458-42.257,49.395 c0,5.521,4.477,9.999,9.999,9.999h184.484c5.523,0,9.999-4.478,9.999-9.999c0-5.521-4.477-9.999-9.999-9.999h-82.009 c0.329-1.616,0.503-3.288,0.503-5v-22.561l34.407-66.415c2.541-4.903,0.625-10.937-4.279-13.478 c-4.905-2.54-10.938-0.626-13.478,4.279L96.93,452.006H63.236l50.84-180.271l12.874-7.432c6.483-3.744,10.975-9.63,13.098-16.254 l55.38-35.654c4.644-2.99,5.984-9.177,2.995-13.82c-2.989-4.644-9.177-5.983-13.82-2.995l-43.999,28.328L119.396,94.592 l7.303-4.217c9.573-5.528,21.258-5.188,30.494,0.888l36.851,24.24c9.365,6.16,21.212,6.505,30.918,0.9l26.66-15.392l2.29,3.878 l16.616,28.778l-57.861,34.708l-31.158-32.11c-3.847-3.964-10.177-4.059-14.14-0.213c-3.963,3.846-4.059,10.176-0.213,14.14 l36.68,37.8c2.553,2.631,6.268,3.593,9.678,2.711c1.471,0.381,3.049,0.441,4.635,0.094L356,160.639v48.516l-153.872,46.38 c-2.588,0.78-4.75,2.575-5.993,4.975l-28.214,54.463c-2.541,4.903-0.625,10.937,4.279,13.478c1.471,0.762,3.042,1.123,4.592,1.123 c3.617,0,7.108-1.969,8.887-5.402l26.27-50.709L356,230.041v136.559c0,25.088,20.41,45.498,45.498,45.498h64.989 c25.088,0,45.498-20.41,45.498-45.498V119.1C511.987,100.395,500.638,84.296,484.467,77.312z M93.011,472.003v14.999 c0,2.757-2.243,5-5,5H53.027H21.743c4.127-11.64,15.248-19.998,28.285-19.998H93.011z M99.325,95.778l5.999,36.585l-36.962-17.86 c-0.032-0.171-0.064-0.342-0.106-0.513c5.825-1.128,11.484-3.228,16.774-6.281C90.534,104.531,95.343,100.492,99.325,95.778z M28.591,77.945l-4-6.927c-4.541-7.864-5.746-17.026-3.396-25.798c2.351-8.771,7.975-16.103,15.84-20.644 c5.239-3.024,11.052-4.569,16.943-4.569c2.953,0,5.927,0.388,8.854,1.173c8.771,2.351,16.103,7.976,20.643,15.841l4,6.927 c4.541,7.864,5.747,17.026,3.396,25.798c-2.351,8.771-7.975,16.103-15.84,20.643c-7.865,4.541-17.026,5.746-25.798,3.396 C40.462,91.435,33.132,85.809,28.591,77.945z M74.826,174.182c-2.563-4.892-8.605-6.781-13.498-4.218 c-4.892,2.563-6.78,8.605-4.218,13.498l16.597,31.685c-9.521,6.693-13.931,18.344-11.74,29.377h-17.18 c-12.232-0.002-22.183-9.953-22.183-22.185v-60.893c0-7.9,4.25-15.262,11.092-19.211l21.003-12.126l54.583,26.376l7.493,45.693 c-7.793-2.853-16.748-2.37-24.482,2.095l-1.309,0.756L74.826,174.182z M120.246,234.689c1.201,2.082,1.52,4.508,0.898,6.829 c-0.622,2.322-2.111,4.263-4.193,5.464l-16.395,9.465c-4.299,2.48-9.812,1.003-12.294-3.294l-5.66-9.803 c-1.202-2.082-1.521-4.507-0.899-6.829c0.622-2.323,2.111-4.263,4.193-5.465l16.395-9.465c1.414-0.816,2.959-1.204,4.485-1.204 c3.113,0,6.144,1.614,7.809,4.498L120.246,234.689z M304.256,72.311l12.237-7.064c1.387-0.8,2.926-1.209,4.485-1.209 c0.782,0,1.568,0.103,2.344,0.311c2.322,0.622,4.263,2.111,5.464,4.193l11.087,19.203c2.481,4.298,1.003,9.812-3.294,12.293 l-12.237,7.064c-4.295,2.479-9.809,1.004-12.291-3.291l-11.091-19.21C298.483,80.305,299.961,74.792,304.256,72.311z M284.051,95.31l10.272,17.792l-9.197,5.31l-10.449-17.69L284.051,95.31z M356.001,119.1v21.067l-90.399,19.776l24.013-14.404 c3.375-2.025,5.116-5.729,4.812-9.405l16.195-9.35c2.979,0.998,6.111,1.516,9.271,1.516c4.916,0,9.895-1.25,14.45-3.879 l12.237-7.064c5.573-3.217,9.669-8.018,12.06-13.509C356.936,108.619,356.001,113.752,356.001,119.1z M443.993,52.998 l13.87,20.603h-13.87V52.998z M423.995,52.997v20.604h-13.87L423.995,52.997z M375.998,119.1L375.998,119.1 c0.001-14.061,11.44-25.5,25.501-25.5h64.989c14.061,0,25.5,11.439,25.5,25.5v2.813h-76.335c-5.523,0-9.999,4.477-9.999,9.999 c0,5.523,4.477,9.999,9.999,9.999h76.335v201.877h-115.99V119.1z M491.989,366.6c0,14.061-11.44,25.5-25.501,25.5h-64.989 c-14.061,0-25.5-11.439-25.5-25.5v-2.813h115.99V366.6z"></path> </g> </g> <g> <g> <path d="M408.943,182.657c-5.523,0-9.999,4.477-9.999,9.999v71.699c0,5.523,4.477,9.999,9.999,9.999s9.999-4.478,9.999-9.999 v-71.699C418.942,187.133,414.466,182.657,408.943,182.657z"></path> </g> </g> <g> <g> <path d="M416.015,297.795c-1.861-1.861-4.441-2.931-7.069-2.931c-2.64,0-5.21,1.07-7.069,2.931c-1.87,1.859-2.93,4.439-2.93,7.068 c0,2.631,1.06,5.21,2.93,7.069c1.86,1.86,4.43,2.93,7.069,2.93c2.63,0,5.21-1.069,7.069-2.93c1.86-1.86,2.93-4.439,2.93-7.069 C418.945,302.233,417.875,299.653,416.015,297.795z"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>                      </div>
                                </a> <br/>
                                @Program.Config.ProgramName - Copyright &copy; @DateTime.Now.Year - Hwang's Martial Arts</span>
                      			</div>
                      		</div>
                      	</footer>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin-2.min.js"></script>

        </body>

        </html>
      }
    }
  }
  xmlReader.Close();
}