﻿@using System.Xml
@using HMAFlex.Controllers
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
@{
        <html lang="en">

        <head>

          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">

          
          <title>@Program.Config.ProgramName - @ViewData["Title"]</title>

          <!-- Custom fonts for this template-->
          <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
          <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

          <!-- Custom styles for this template-->
          <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
          
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

          
          <style>
            th {
              text-align: center !important;
            }
            td {
              text-align: center !important;
            }
          </style>
        </head>

        <body id="page-top">

          <!-- Page Wrapper -->
          <div id="wrapper">

            <!-- Sidebar -->
              <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                  <!-- Sidebar - Brand -->
                  <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Dashboard">
                      <div class="sidebar-brand-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" height="60px" width="60px" style="enable-background:new 0 0 512.001 512.001; fill: white;" xml:space="preserve"> <g> <g> <path d="M165.147,348.64c-1.86-1.86-4.44-2.93-7.069-2.93s-5.21,1.07-7.069,2.93c-1.86,1.86-2.93,4.44-2.93,7.069 c0,2.63,1.07,5.21,2.93,7.069c1.86,1.859,4.44,2.93,7.069,2.93c2.63,0,5.21-1.07,7.069-2.93c1.86-1.86,2.93-4.44,2.93-7.069 C168.077,353.08,167.007,350.5,165.147,348.64z"></path> </g> </g> <g> <g> <path d="M484.467,77.312l-40.474-60.127v-6.946c0-5.522-4.477-9.999-9.999-9.999s-9.999,4.477-9.999,9.999v6.947L383.52,77.313 c-10.82,4.674-19.478,13.426-24.025,24.312c2.612-7.65,2.047-16.345-2.304-23.879l-11.087-19.203 c-3.873-6.707-10.125-11.506-17.607-13.511c-7.482-2.006-15.297-0.977-22.004,2.897l-12.237,7.064 c-7.48,4.32-12.303,11.493-13.901,19.358l-15.849,9.15l-0.699-1.184c-2.79-4.722-8.859-6.316-13.609-3.575l-35.234,20.342 c-3.119,1.8-6.922,1.688-9.929-0.289l-36.851-24.24c-15.593-10.257-35.32-10.832-51.483-1.5l-7.183,4.148 c0.238-0.755,0.466-1.514,0.672-2.284c3.733-13.931,1.817-28.482-5.395-40.972l-4-6.927C93.584,14.531,81.94,5.596,68.009,1.864 C54.078-1.87,39.526,0.046,27.037,7.258C14.546,14.468,5.611,26.112,1.879,40.044c-3.733,13.931-1.817,28.482,5.395,40.972 l4,6.927c7.21,12.49,18.854,21.425,32.786,25.158c0.024,0.006,0.048,0.011,0.071,0.018l-20.434,11.798 c-13.009,7.51-21.091,21.508-21.091,36.53v60.893c0,23.259,18.922,42.181,42.182,42.181h26.609c0.132,0,0.259-0.015,0.39-0.02 c4.656,7.139,12.015,11.594,19.943,12.8l-49.44,175.306c-23.906,3.731-42.257,24.458-42.257,49.395 c0,5.521,4.477,9.999,9.999,9.999h184.484c5.523,0,9.999-4.478,9.999-9.999c0-5.521-4.477-9.999-9.999-9.999h-82.009 c0.329-1.616,0.503-3.288,0.503-5v-22.561l34.407-66.415c2.541-4.903,0.625-10.937-4.279-13.478 c-4.905-2.54-10.938-0.626-13.478,4.279L96.93,452.006H63.236l50.84-180.271l12.874-7.432c6.483-3.744,10.975-9.63,13.098-16.254 l55.38-35.654c4.644-2.99,5.984-9.177,2.995-13.82c-2.989-4.644-9.177-5.983-13.82-2.995l-43.999,28.328L119.396,94.592 l7.303-4.217c9.573-5.528,21.258-5.188,30.494,0.888l36.851,24.24c9.365,6.16,21.212,6.505,30.918,0.9l26.66-15.392l2.29,3.878 l16.616,28.778l-57.861,34.708l-31.158-32.11c-3.847-3.964-10.177-4.059-14.14-0.213c-3.963,3.846-4.059,10.176-0.213,14.14 l36.68,37.8c2.553,2.631,6.268,3.593,9.678,2.711c1.471,0.381,3.049,0.441,4.635,0.094L356,160.639v48.516l-153.872,46.38 c-2.588,0.78-4.75,2.575-5.993,4.975l-28.214,54.463c-2.541,4.903-0.625,10.937,4.279,13.478c1.471,0.762,3.042,1.123,4.592,1.123 c3.617,0,7.108-1.969,8.887-5.402l26.27-50.709L356,230.041v136.559c0,25.088,20.41,45.498,45.498,45.498h64.989 c25.088,0,45.498-20.41,45.498-45.498V119.1C511.987,100.395,500.638,84.296,484.467,77.312z M93.011,472.003v14.999 c0,2.757-2.243,5-5,5H53.027H21.743c4.127-11.64,15.248-19.998,28.285-19.998H93.011z M99.325,95.778l5.999,36.585l-36.962-17.86 c-0.032-0.171-0.064-0.342-0.106-0.513c5.825-1.128,11.484-3.228,16.774-6.281C90.534,104.531,95.343,100.492,99.325,95.778z M28.591,77.945l-4-6.927c-4.541-7.864-5.746-17.026-3.396-25.798c2.351-8.771,7.975-16.103,15.84-20.644 c5.239-3.024,11.052-4.569,16.943-4.569c2.953,0,5.927,0.388,8.854,1.173c8.771,2.351,16.103,7.976,20.643,15.841l4,6.927 c4.541,7.864,5.747,17.026,3.396,25.798c-2.351,8.771-7.975,16.103-15.84,20.643c-7.865,4.541-17.026,5.746-25.798,3.396 C40.462,91.435,33.132,85.809,28.591,77.945z M74.826,174.182c-2.563-4.892-8.605-6.781-13.498-4.218 c-4.892,2.563-6.78,8.605-4.218,13.498l16.597,31.685c-9.521,6.693-13.931,18.344-11.74,29.377h-17.18 c-12.232-0.002-22.183-9.953-22.183-22.185v-60.893c0-7.9,4.25-15.262,11.092-19.211l21.003-12.126l54.583,26.376l7.493,45.693 c-7.793-2.853-16.748-2.37-24.482,2.095l-1.309,0.756L74.826,174.182z M120.246,234.689c1.201,2.082,1.52,4.508,0.898,6.829 c-0.622,2.322-2.111,4.263-4.193,5.464l-16.395,9.465c-4.299,2.48-9.812,1.003-12.294-3.294l-5.66-9.803 c-1.202-2.082-1.521-4.507-0.899-6.829c0.622-2.323,2.111-4.263,4.193-5.465l16.395-9.465c1.414-0.816,2.959-1.204,4.485-1.204 c3.113,0,6.144,1.614,7.809,4.498L120.246,234.689z M304.256,72.311l12.237-7.064c1.387-0.8,2.926-1.209,4.485-1.209 c0.782,0,1.568,0.103,2.344,0.311c2.322,0.622,4.263,2.111,5.464,4.193l11.087,19.203c2.481,4.298,1.003,9.812-3.294,12.293 l-12.237,7.064c-4.295,2.479-9.809,1.004-12.291-3.291l-11.091-19.21C298.483,80.305,299.961,74.792,304.256,72.311z M284.051,95.31l10.272,17.792l-9.197,5.31l-10.449-17.69L284.051,95.31z M356.001,119.1v21.067l-90.399,19.776l24.013-14.404 c3.375-2.025,5.116-5.729,4.812-9.405l16.195-9.35c2.979,0.998,6.111,1.516,9.271,1.516c4.916,0,9.895-1.25,14.45-3.879 l12.237-7.064c5.573-3.217,9.669-8.018,12.06-13.509C356.936,108.619,356.001,113.752,356.001,119.1z M443.993,52.998 l13.87,20.603h-13.87V52.998z M423.995,52.997v20.604h-13.87L423.995,52.997z M375.998,119.1L375.998,119.1 c0.001-14.061,11.44-25.5,25.501-25.5h64.989c14.061,0,25.5,11.439,25.5,25.5v2.813h-76.335c-5.523,0-9.999,4.477-9.999,9.999 c0,5.523,4.477,9.999,9.999,9.999h76.335v201.877h-115.99V119.1z M491.989,366.6c0,14.061-11.44,25.5-25.501,25.5h-64.989 c-14.061,0-25.5-11.439-25.5-25.5v-2.813h115.99V366.6z"></path> </g> </g> <g> <g> <path d="M408.943,182.657c-5.523,0-9.999,4.477-9.999,9.999v71.699c0,5.523,4.477,9.999,9.999,9.999s9.999-4.478,9.999-9.999 v-71.699C418.942,187.133,414.466,182.657,408.943,182.657z"></path> </g> </g> <g> <g> <path d="M416.015,297.795c-1.861-1.861-4.441-2.931-7.069-2.931c-2.64,0-5.21,1.07-7.069,2.931c-1.87,1.859-2.93,4.439-2.93,7.068 c0,2.631,1.06,5.21,2.93,7.069c1.86,1.86,4.43,2.93,7.069,2.93c2.63,0,5.21-1.069,7.069-2.93c1.86-1.86,2.93-4.439,2.93-7.069 C418.945,302.233,417.875,299.653,416.015,297.795z"></path> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>                      </div>
                      <div class="sidebar-brand-text mx-3">@Program.Config.ProgramName</div>
                  </a>

                  <!-- Divider -->
                  <hr class="sidebar-divider my-0">

                  <!-- Nav Item - Dashboard -->
                  <li class="nav-item">
                      <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">
                          <i class="fas fa-fw fa-tachometer-alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <!-- Divider -->
                  <hr class="sidebar-divider">

                  <!-- Heading -->
                  <div class="sidebar-heading">
                      Students
                  </div>

                  <!-- Nav Item - Evening Class Menu -->
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          <i class="fas fa-fw fa-user-ninja"></i>
                          <span>Evening Class</span>
                      </a>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                          <div class="bg-white py-2 collapse-inner rounded">
                              <h6 class="collapse-header">Students</h6>
                              <a class="collapse-item" asp-area="" asp-controller="EveningClass" asp-action="Index">All Students</a>
                              <a class="collapse-item" asp-area="" asp-controller="EveningClass" asp-action="Members">Members</a>
                              <a class="collapse-item" asp-area="" asp-controller="EveningClass" asp-action="Expiration">Membership Experation</a>
                              <a class="collapse-item" asp-area="" asp-controller="EveningClass" asp-action="TrialLessons">Trial Lessons</a>
                              <a class="collapse-item" asp-area="" asp-controller="EveningClass" asp-action="UpdateTrials">Email and Text</a>
                          </div>
                      </div>
                  </li>
                  
                  <!-- Nav Item - AMP/SummerCamp Menu -->
                  <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#AMPStudents" aria-expanded="true" aria-controls="collapseUtilities">
                      <i class="fas fa-fw fa-book-reader"></i>
                      <span>AMP</span>
                    </a>
                    <div id="AMPStudents" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                      <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">After School:</h6>
                        <a class="collapse-item" asp-area="" asp-controller="AMP" asp-action="Index">AMP Students</a>
                        <a class="collapse-item" asp-area="" asp-controller="AMP" asp-action="PrintAttendance">Attendance</a>
                        <a class="collapse-item" asp-area="" asp-controller="AMP" asp-action="EmergencyContact">Emergency Contact</a>
                        <a class="collapse-item" asp-area="" asp-controller="AMP" asp-action="Staff">Staff Information</a>
                      </div>
                    </div>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#SummerStudents" aria-expanded="true" aria-controls="collapseUtilities">
                      <i class="fas fa-fw fa-sun"></i>
                      <span>Summer Camp</span>
                    </a>
                    <div id="SummerStudents" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                      <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Summer Camp:</h6>
                        <a class="collapse-item" asp-area="" asp-controller="Summer" asp-action="Index">Summer Students</a>
                        <a class="collapse-item" asp-area="" asp-controller="Summer" asp-action="PrintAttendance">Attendance</a>
                        <a class="collapse-item" asp-area="" asp-controller="Summer" asp-action="EmergencyContact">Emergency Contact</a>
                        <a class="collapse-item" asp-area="" asp-controller="Summer" asp-action="Staff">Staff Information</a>
                      </div>
                    </div>
                  </li>
                  
                  <hr class="sidebar-divider">
                  
                  <div class="sidebar-heading">
                    BDays
                  </div>
                  
                  <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#BirthdayParties" aria-expanded="true" aria-controls="collapseUtilities">
                      <i class="fas fa-fw fa-birthday-cake"></i>
                      <span>Birthday Parties</span>
                    </a>
                    <div id="BirthdayParties" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                      <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Birthday Parties:</h6>
                        <a class="collapse-item" asp-area="" asp-controller="Birthdays" asp-action="Index">All Parties</a>
                        <a class="collapse-item" asp-area="" asp-controller="Birthdays" asp-action="Calendar">Calendar</a>
                        <a class="collapse-item" asp-area="" asp-controller="Birthdays" asp-action="UpdateStaff">Update HMA Staff</a>
                      </div>
                    </div>
                  </li>
                  
                  <hr class="sidebar-divider">
                  
                  <div class="sidebar-heading">
                      Misc.
                  </div>
                  <!-- Nav Item - Evening Class Menu -->
                  <li class="nav-item">
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#OtherLinks" aria-expanded="true" aria-controls="OtherLinks">
                          <i class="fas fa-fw fa-male"></i>
                          <span>Other</span>
                      </a>
                      <div id="OtherLinks" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                          <div class="bg-white py-2 collapse-inner rounded">
                              <h6 class="collapse-header">User Management</h6>
                              <a class="collapse-item" asp-area="" asp-controller="Other" asp-action="UserManagement">Users</a>
                              <a class="collapse-item" asp-area="" asp-controller="Other" asp-action="ActionLog">Action Log</a>
                              <a class="collapse-item" asp-area="" asp-controller="Other" asp-action="Configuration">@Program.Config.ProgramName Configuration</a>
                          </div>
                      </div>
                  </li>          
                  
                  <!-- Divider -->
                  <hr class="sidebar-divider d-none d-md-block">

                  <!-- Sidebar Toggler (Sidebar) -->
                  <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                  </div>
                  
              </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

              <!-- Main Content -->
              <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                  </button>

                  <!-- Topbar Search -->
                  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                      </a>
                      <!-- Dropdown - Messages -->
                      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search">
                          <div class="input-group">
                            <input type="text" id="#searchBar" onkeyup="changeSearchTerm()" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                                @{
                                  
                                  Console.WriteLine("1");
                                  string searchTerm = "";
                                  
                                  <script>
                                    function changeSearchTerm() {
                                      var searchElement = document.getElementById("searchBar");
                                      @searchTerm = searchElement.value;
                                      
                                      @SearchActually(searchTerm)
                                      
                                      }
                                  </script>

                                  async Task SearchActually(string searchTermActually)
                                  {
                                    Console.WriteLine("2");
                                    
                                    Dictionary<string, string> results = SearchFormResult.GetSearchedUsers(searchTermActually);
                                        
                                    Console.WriteLine("3");

                                    string[] ids = new string[10];
                                    string[] from = new string[10];
                                    string[] result = new string[10];
                                        
                                    Console.WriteLine("4");
                                    
                                    KeyValuePair<string, string>[] resultsArray = results.ToArray();
                                    
                                    for (int i = 0; i <= 10; i++)
                                    {
                                      Console.WriteLine("33 - " + i + "a (" + searchTermActually + ")");
                                      ids[i] = resultsArray[i].Key.Split(" - ")[0].Take(resultsArray[i].Key.Length - 1).ToString();
                                      Console.WriteLine("33 - " + i + "b (" + searchTermActually + ")");
                                      from[i] = resultsArray[i].Key.Split(" - ")[1];
                                      Console.WriteLine("33 - " + i + "c (" + searchTermActually + ")");
                                      result[i] = resultsArray[i].Value;
                                      Console.WriteLine("33 - " + i + "d (" + searchTermActually + ")");
                                    }
                                        
                                    Console.WriteLine("5");

                                    for (int j = 0; j < 10; j++)
                                    {
                                      if (ids[j] != null)
                                      {

                                        Console.WriteLine("5");

                                        if (result[j] != null)
                                        {

                                          Console.WriteLine("6");

                                          if (result[j].Contains("Birthday Parties"))
                                          {
                                            Console.WriteLine("7a");
                                            <a asp-area="" asp-action="Index" asp-controller="Birthdays">@result[j] in @from[j] (ID: @ids[j])</a>

                                          }
                                          else if (from[j].Contains("AMP Students"))
                                          {
                                            Console.WriteLine("7b");
                                            <a asp-area="" asp-action="Index" asp-controller="AMP">@result[j] in @from[j] (ID: @ids[j])</a>
                                          }
                                          else if (from[j].Contains("AMP Staff"))
                                          {
                                            Console.WriteLine("7c");
                                            <a asp-area="" asp-action="Staff" asp-controller="AMP">@result[j] in @from[j] (ID: @ids[j])</a>
                                          }
                                          else if (from[j].Contains("SummerCamp Students"))
                                          {
                                            Console.WriteLine("7d");
                                            <a asp-area="" asp-action="Index" asp-controller="Summer">@result[j] in @from[j] (ID: @ids[j])</a>
                                          }
                                          else if (from[j].Contains("SummerCamp Staff"))
                                          {
                                            Console.WriteLine("7e");
                                            <a asp-area="" asp-action="Staff" asp-controller="Summer">@result[j] in @from[j] (ID: @ids[j])</a>
                                          }
                                          else if (from[j].Contains("Users"))
                                          {
                                            Console.WriteLine("7f");
                                            <a asp-area="" asp-action="UserManagement" asp-controller="Other">@result[j] in @from[j] (ID: @ids[j])</a>
                                          }
                                        }
                                      }
                                    }

                                    Console.WriteLine("8");
                                  }
                                }
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </li>
                    
                    <li class="nav-item" style="margin: 5% 0;">
                      <a class="btn btn-secondary" role="button" asp-area="" asp-controller="CheckIn" asp-action="Index">Check Students In</a>
                    </li>
                    
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                          @{

                            if (Context.Session.GetString("loggedIn") == "true")
                            {
                              int userID = Int32.Parse(Context.Session.GetString("loggedInUser"));
                              WebUser user = Util.GetWebUser(userID);
                              
                                <span style="color: #e41635;"><b>Welcome @user.FirstName! <i class="far fa-grin-beam"></i></b></span>
                            }
                            else
                            {
                              Context.Response.Redirect(Url.Action("Index", "Home"));
                            }
                          }
                          </span>
                      </a>
                      <!-- Dropdown - User Information -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                          Logout
                        </a>
                      </div>
                    </li>

                  </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

              </div>
              <!-- End of Main Content -->

              <!-- Footer -->
              <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <img src="~/img/hma corrected.png" width="20%" style="margin-right: 5%;"> <span>@Program.Config.ProgramName - Copyright &copy; @DateTime.Now.Year - Hwang's Martial Arts</span>
                  </div>
                </div>
              </footer>
              <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

          </div>
          <!-- End of Page Wrapper -->

          <!-- Scroll to Top Button-->
          <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
          </a>

          <!-- Logout Modal-->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Bootstrap core JavaScript-->
          <script src="~/vendor/jquery/jquery.min.js"></script>
          <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Core plugin JavaScript-->
          <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

          <!-- Custom scripts for all pages-->
          <script src="~/js/sb-admin-2.min.js"></script>

          <!-- Page level plugins -->
          <script src="~/vendor/chart.js/Chart.min.js"></script>

          <!-- Page level custom scripts -->
          <script src="~/js/demo/chart-area-demo.js"></script>
          <script src="~/js/demo/chart-pie-demo.js"></script>

        </body>

</html>
}