@using System.Collections
@using System.Xml
@{
    ViewData["Title"] = "User Action Log";
    Layout = "_GeneralLayout";

    var sorted = Program.UserActions.Values.OrderBy(action => action.PerformedOn);
}

<h1>User Action Logs</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User Events</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>User</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                @{
                    for (int i = 0; i < 50; i++)
                    {
                        if (sorted.Count() >= i)
                        {
                            UserAction[] sortedArray = sorted.ToArray();
                            <tr>
                                <td>@sortedArray[i].Id</td>
                                <td>@sortedArray[i].PerformedOn</td>
                                <td>@sortedArray[i].User.Username</td>
                                <td>@sortedArray[i].Description</td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>