@using System.Xml
@using HMAFlex.Controllers
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Edit Configuration";
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

@{
                
                <h1>Edit @Program.Config.ProgramName Configuration Settings</h1>
                                                                              
                <form method="POST">
                    <br/>
                    <div class="row">
                        <div class="col-6">
                            <h2>General</h2>
                        </div>
                        <div class="col-6">
                            <h2></h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-6 field-left">
                                    <label for="taekwondoTestingDate">Next TKD Belt Test</label>
                                    <input type="text" class="form-control" id="taekwondoTestingDate" aria-describedby="taekwondoTestingDate" placeholder="@Program.Config.NextTKDBeltTest" name="TaekwondoTestingDate">
                                </div>
                                <div class="col-6 field-right">
                                    <label for="judoTestingDate">Next Judo Belt Test</label>
                                    <input type="text" class="form-control" id="judoTestingDate" aria-describedby="judoTestingDate" placeholder="@Program.Config.NextJudoBeltTest" name="JudoTestingDate">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label for="programName">Program Name</label>
                                    <input type="text" class="form-control" id="programName" aria-describedby="programName" placeholder="@Program.Config.ProgramName" name="ProgramName">
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <br/>
                    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
                </form>
            }
        }
    }
}