@using System.Collections
@using System.Xml
@using HMAFlex.Controllers
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Create User";

    int loggedInUser = Int32.Parse(Context.Session.GetString("loggedInUser"));
    WebUser user = Util.GetWebUser(loggedInUser);
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

<h1>Create HMA Flex User</h1>

<form method="POST">
    <br/>
    <div class="row">
        <div class="col-6">
            <h2>User Information</h2>
        </div>
        <div class="col-6">
            <h2></h2>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="firstName">
                </div>
                <div class="col-6 field-right">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="lastName">
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                    <label for="permissionLevel">Permission Level</label>
                    <select class="form-control" id="permissionLevel" aria-describedby="permissionLevel" name="permissionLevel">
                        @{
                            <option value="School" selected>Staff</option>
                            switch (user.PermissionLevel)
                            {
                                case WebPermissionLevel.HeadInstructor:
                                    <option value="School">School</option>
                                    break;
                                case WebPermissionLevel.Administrator:
                                    <option value="School">School</option>
                                    <option value="Head Instructor">Head-Instructor</option>
                                    <option value="Administrator">Administrator</option>
                                    break;
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <div class="col-6 field-left">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                </div>
                <div class="col-6 field-right">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="username" name="username">
                </div>
            </div>
            <div class="col-6">
                <div class="col-12">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" aria-describedby="password" name="password">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
</form>