@using System.Xml
@using HMAFlex.Controllers
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Delete User";

    int id = ViewBag.Message;
    WebUser user = Util.GetWebUser(id);
}
<style>
    .confirmDelete {
        margin: 0 auto !important;
    }
</style>
<h1>Delete HMA Flex User</h1>
@{
    <div class="confirmDelete">
        <h3>Are you sure that you would like to delete the user @user.FirstName @user.LastName (ID: @user.Id)?</h3>
        <form method="POST">
            <div class="row">
                <div class="col-2">
                    <label for="id">ID</label>
                    <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@user.Id" name="Id">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                    <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </form>
    </div>
}