@using System.Xml
@using HMAFlex.Controllers
@using Microsoft.AspNetCore.Http
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Edit User";

    int id = ViewBag.Message;
    WebUser user = Util.GetWebUser(id);
}

<style>
    .field-left {
        float: left !important;
    }
    .field-right {
        float: right !important;
    }
</style>

<h1>Edit HMA Flex User</h1>
@{
    <form method="POST">
        <br/>
        <div class="row">
            <div class="col-6">
                <h2>User Information</h2>
            </div>
            <div class="col-6">
                <h2></h2>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-2 field-left">
                    <div class="col-6 field-left">
                        <label for="id">ID</label>
                        <input type="text" style="text-align: center;" class="form-control form-control-user" id="id" readonly aria-describedby="id" value="@user.Id" name="Id">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <div class="col-6 field-left">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" placeholder="@user.FirstName" name="firstName">
                    </div>
                    <div class="col-6 field-right">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" placeholder="@user.LastName" name="lastName">
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <label for="permissionLevel">Permission Level</label>
                        <select id="permissionLevel" aria-describedby="permissionLevel" name="permissionLevel" class="form-control">
                            @{
                                switch (user.PermissionLevel)
                                {
                                    case WebPermissionLevel.Staff:
                                        <option value="Staff" selected>Staff</option>
                                        <option value="School">School</option>
                                        <option value="Head Instructor">Head-Instructor</option>
                                        <option value="Administrator">Administrator</option>
                                        break;
                                    case WebPermissionLevel.School:
                                        <option value="Staff">Staff</option>
                                        <option value="School" selected>School</option>
                                        <option value="Head Instructor">Head-Instructor</option>
                                        <option value="Administrator">Administrator</option>
                                        break;
                                    case WebPermissionLevel.HeadInstructor:
                                        <option value="Staff">Staff</option>
                                        <option value="School">School</option>
                                        <option value="Head Instructor" selected>Head-Instructor</option>
                                        <option value="Administrator">Administrator</option>
                                        break;
                                    case WebPermissionLevel.Administrator:
                                        <option value="Staff">Staff</option>
                                        <option value="School">School</option>
                                        <option value="Head Instructor">Head Instructor</option>
                                        <option value="Administrator" selected>Administrator</option>
                                        break;
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-6">
                    <div class="col-6 field-left">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="@user.Email" name="email">
                    </div>
                    <div class="col-6 field-right">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="@user.Username" name="username">
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" aria-describedby="password" placeholder="@user.Password" name="password">
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <input type="submit" style="color: white !important;" class="btn btn-primary btn-user btn-block">
    </form>
}