@using HMAFlex.Controllers
@{
    Layout = "_GeneralLayout";
    ViewData["Title"] = "User Details";
    int id = ViewBag.Message;
    WebUser user = Util.GetWebUser(id);
}
@{
    <h1>HMA Flex User Details - ID: @user.Id (@user.LastName, @user.FirstName)</h1>

    <div class="row" style="text-align: center;">
        <div class="col-4">
            @Html.ActionLink("Edit User", "EditUser", "Other", new {Id = id})
        </div>
        <div class="col-4">
            @Html.ActionLink("Return to User List", "UserManagement", "Other")
        </div>
        <div class="col-4">
            @Html.ActionLink("Delete User", "DeleteUser", "Other", new {Id = id})
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">
                            <div class="hma-logo">
                                <img src="~/img/condensedlogo.png" width="100%">
                            </div>
                            <div class="basic-info">
                                <div class="text-xl-center text-uppercase font-weight-bold">
                                    <h2>@user.FirstName @user.LastName</h2></div>
                            </div>
                        </div>
                        <div class="col-8" style="border-left: 1px solid #a9aab1; padding-left: 10px;">
                            <div class="text-xl-center text-uppercase font-weight-bold">General Information</div>
                            <div class="text-lg-left"><b>ID: </b>@user.Id</div>
                            <div class="text-lg-left"><b>First Name: </b>@user.FirstName</div>
                            <div class="text-lg-left"><b>Last Name: </b>@user.LastName</div>
                            <div class="text-lg-left"><b>Email: </b>@user.Email</div>
                            <div class="text-lg-left"><b>Username: </b>@user.Username</div>
                            <div class="text-lg-left"><b>Password: </b>@user.Password</div>
                            <div class="text-lg-left"><b>Permission Level: </b>@Util.WebPermissionLevelToString(user.PermissionLevel)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}