@using System.Collections
@using System.Xml
@using HMAFlex.Controllers
@{
    ViewData["Title"] = "User Management";
    Layout = "_GeneralLayout";
}
<h1>User Management</h1>
<p>
  @Html.ActionLink("Create New", "CreateUser", "Other")
</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Users</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Permission Level</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
          foreach (var (key, user) in Program.WebUsers)
          {
            <tr>
              <td>@user.Id</td>
              <td>@user.FirstName @user.LastName</td>
              <td>@user.Username</td>
              <td>@user.Email</td>
              <td>@Util.WebPermissionLevelToString(user.PermissionLevel)</td>
              <td>
                @Html.ActionLink("Edit", "EditUser", "Other", new {Id = user.Id}) |
                @Html.ActionLink("Details", "UserDetails", "Other", new {Id = user.Id}) |
                @Html.ActionLink("Delete", "DeleteUser", "Other", new {Id = user.Id})</td>
            </tr>
          }
        }
        </tbody>
      </table>
    </div>
  </div>
</div>